html, body {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: 'Open Sans', Helvetica;
    height: 100%;
}
a {
    text-decoration: none;
}

header,footer {
    text-align: center;
}

.buttons {
    margin: .85em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin: 0;
}
h1{
    font-size: 3em;
}
h2{
    font-size: 2em;
}

.biggertext{
    font-size: 1.5em;
    font-weight: 600;
}

.wrap {
    max-width: 1024px;
    margin: 0 auto;
}

section {
    @include clearfix;
    padding: 2em 1.5em 0;
}

section:last-child {
    padding-bottom: 3em;
}

main {
    height: 100%
}

blockquote {
    margin: 1rem 0;
    padding-left: 1.5rem;
    border-left: 5px solid $pink;
}

b {
    color: #24334a;  
}

.section-title {
    font-weight: 700;
    color: $pink;
}

p {
    font-weight: 300;
    color: #37474F;
}

p a,
footer a,
.highlight-code,
.gulp-task {
    color: #26C6DA;
    transition: color .2s;
}

.gulp-default {
    color: $pink;
}

p a:hover,
footer a:hover {
    color: #80DEEA;
    transition: color .2s;
}

code, .tech {
    border-radius: .3em;
    border: 1px solid #E3EDF3;
    padding: .5em;
    background: $white;
    white-space: nowrap;
    font-family: monospace;
    overflow-x: scroll;
    overflow-y: hidden;
    color: #37474F;
}

.code-block,
.code-block-small {
    margin: 1.5em 0;
}

.gulp-task {
    border-radius: .3em;
    border: 1px solid #E3EDF3;
    background: $white;
    white-space: nowrap;
    font-family: monospace;
    padding: .3em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 2em 0;
}

li {
    margin-top: 1.25em;
    font-weight: 300;
}

%centerpos{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
}