
header {
    color: $white;
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 100;
    nav{
        float: right;
        text-align: center;
        margin: 39px 140px;
        ul{
            margin: 0;
            padding: 0;
            li{
                margin: 0;
                padding: 0;
                float: left;
            }        
        }
    }
    .whiteheader{
        height: 120px;
        background: $white;
        position: absolute;
        width: 100%;
        box-shadow: 0px 5px 5px $lightgrey;
        transform: translate(0, -125px); 
        transition: .25s ease-in-out;
        &.open{
            transform: translate(0, 0);  
        }
    }
}

footer {
    background-color: $white;
    .ey_grey_logo{
        @include bgImage('ey_grey_logo.png');
        width: 153px;
        height: 39px;
        float: left;
    }
    .yammer_ico{
        @include bgImage('yammer_ico.png');
        width: 34px;
        height: 34px;
        display: inline-block;
    }
    .wrapp{
        @include clearfix;

        padding: 20px;
        .item{
            @include grid(3, 0);
            float: left;
        }
        .footertext{
            text-align: right;
        }
        .fiftypersent{
            @include grid(2, 0);
            float: left;
        }
    }
    .yammerwrap{
        float: right;
        text-align: right;
    } 
    .pad{
        position: relative;
        top: -10px;
    }
    a{
        color: $grey;
        &:hover{
            color: $yellow;
        }
    }
    .lightgreywrap{
        background: $lightgrey;
        p{
            padding: 50px;
            margin: 0 auto;
            width: 200px;
        }
    }
}

.services {
    .mainpage{
        @include bgImage('mainimage_lightgrey.jpg', top center)
        padding: 0;
        h1{
            @extend %h1withline;
            color: $darkgrey;
        }
        p{
            color: $darkgrey;
            padding-bottom: 50px;
            text-align: center;
        }
        .wrap{
            padding-top: 150px;
        }
        a{
            color: $grey;
            text-decoration: underline;
            &:hover{
                color: $yellow;
            }
        }
    }
    h2{
        @extend %h1withline;
        margin-bottom: 40px;
        &:after{       
            width: 5px;
        }
    }
    .learning{
        @include bgImage('brain_bg.png', center -70px);
        background-color: $lightgraybg;
        background-attachment: fixed;
    }
    .avProduction{
        @include bgImage('AV_bg.png', center -70px);
        background-attachment: fixed;
    }
    .development{
        @include bgImage('link_bg.png', center 0px);
        background-color: $lightgraybg;
        background-attachment: fixed;
    }
    .servisesitemsleft{
        float: left;  
        width: 47%;
        margin-right: 2%;
    }
    .servisesitemsright{
        float: left;
        width: 51%;
    }
    .avProduction{
        .servisesitemsleft{
            float: left;  
            width: 49%;
            margin-right: 2%;
        }
        .servisesitemsright{
            float: left;
            width: 49%;
        }
    }
    .servisesslider{
        margin-top: 70px;
        margin-bottom: 60px;

        .item{
            position: relative;
            float: left;
            height: 370px;
        }
        .slick-list{
            overflow: hidden;
        }
    }
    .laptopsmall{        
        background-image: url('laptopsmall.png');
        background-repeat: no-repeat;
        width: 521px;
        height: 299px;
        position:relative;
        .innerwindow{
            width: 392px;
            height: 240px;
            position: absolute;
            top: 18px;
            left: 64px;
            overflow: hidden;
        }
        video{
            width: 101%;
            height: 101%;
        }
    }
    .tabletsmall{
        @include bgImage('tabletsmall.png'); 
        width: 162px;
        height: 285px;
        position: absolute;
        bottom: 0px;
        right: 0px;
        .innerwindow{
            width: 142px;
            height: 252px;
            position: absolute;
            top: 14px;
            left: 10px;
            overflow: hidden;
        }
    }
    .servicesipad{
        @include bgImage('servicesipad.png'); 
        width: 500px;
        height: 283px;
        .innerwindow{
            width: 444px;
            height: 251px;
            position: absolute;
            top: 16px;
            left: 32px;
            overflow: hidden;
            video{
                width: 101%;
                height: 101%;
            }
        }
    }

}

.resources{
    @extend .services;
    .resourcesleft{
        float: left;  
        width: 47%;
        margin-right: 2%;
    }
    .resourcesitemsright{
        float: left;
        width: 51%;
    }
    .mainpage{
        background: none;
    }

    .documents{
        @include bgImage('brain_bg.png', center -70px);
        background-color: $lightgraybg;
        background-attachment: fixed;
    }
    .animation{
        @include bgImage('AV_bg.png', center -70px);
        background-attachment: fixed;
    }
    .audio{
        @include bgImage('link_bg.png', center 0px);
        background-color: $lightgraybg;
        background-attachment: fixed;
    }

    table {
        display: block;
        width: 100%;
        margin: 25px auto;
        border-collapse: collapse;
        border: 1px solid #eee;
        border-bottom: 2px solid #ccc;
        box-shadow: 0px 10px 10px $lightgrey;

        tr {

            &:hover {
                background: #f4f4f4;

                td {
                    color: #555;
                }
            }
        }
        th, td {
            width: 100%;
            color: #999;
            border: 1px solid #eee;
            padding: 12px 20px;
            border-collapse: collapse;
        }
        th {
            background: #ccc;
            color: #fff;
            text-transform: uppercase;
            font-size: 12px;
            &.last {
                border-right: none;
            }
        }
        audio{
            width: 300px;
        }
    }

}
.our_work{
    .element-item {
        @include clearfix;
        margin: 1%;
        float: left;
        overflow: hidden;
        width: 48%;
        img{
            width: 100%;
            display: block;
        }
        .itemcenterwrap {
            @extend %centerwrap; 
            width: 100%;
            height: 170px;
        }
        &:hover {
            h2{
                transform: translate(0, 0px);       
            }
            h3{
                transform: translate(0, 0px);       
            }
            a{
                transform: translate(0, 0px);  
            }
            .description{
                background: rgba(0, 0, 0, 0.7);
            }
        }
    }
    .description{
        transition: .25s ease-in-out;
        background: rgba(83, 87, 100, 0.4);
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        color: $white;
        line-height: 1;
        text-align: center;

        a{
            transition: .3s ease-in-out; 
            display: inline-block;
            padding: 10px 35px;
            margin-top: 15px;
            border: none;
            border: 2px solid $yellow;
            font-size: 16px;    
            cursor: pointer;
            background: none;
            color: $white;
            transform: translate(0, 300px); 
            &:hover {
                background: $yellow;
                color: $grey;
            }
        }
        h2{
            transition: .15s ease-in-out;  
            transform: translate(0, 50px); 
            padding: 10px;
            font-weight: 400;
            font-size: 1.9em;
            text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
        }               
        h3{
            transition: .25s ease-in-out;
            padding: 8px;
            transform: translate(0, 300px); 
        }
    }
    #nav-icon{
        span{
            background: $grey;
        }
    } 
    .mainpage{   
        min-height: 80%;
        margin-bottom: 50px;
        .wrap{
            padding-top: 150px; 

        }
        .button-group{
            padding-top: 50px; 
            text-align: center;
        }
        .filterbutton {
            display: inline-block;
            padding: 10px 18px;
            margin-bottom: 15px;
            border: none;
            border-bottom: 2px solid $white;            
            font-size: 16px;    
            cursor: pointer;
            background: none;
        }
        .filterbutton.is-checked {
            border-bottom: 2px solid $darkgrey;   
        }

        .newdesign{
            transition: .3s ease-in-out; 
            display: inline-block;
            padding: 10px 35px;
            margin-top: 15px;
            border: none;
            border: 2px solid $yellow;
            font-size: 16px;    
            cursor: pointer;
            background: none;

            &:hover {
                background: $yellow;
                color: $grey;
            }
        }
        .newdesign.is-checked {
            background: $yellow; 
            border: 2px solid $yellow;
        }
    }
    h1{
        @extend %h1withline;
    }
}

.about{
    .tooltip{
        position: absolute;
        z-index: 100000;
        width: 300px;
        background-color: $yellow;
        border-radius: 20px;
        padding: 10px;
        font-size: 0.9em;
    }
    .ui-helper-hidden-accessible{
        display: none;
    }
    .mainpage{      
        @include bgImage('mainimage_lightgrey.jpg', top center)
        .wrap{
            padding-top: 150px;         
        }
        h1{
            @extend %h1withline;
        }
        h2{
            @extend %h2withunderline;
        }
        p{
            text-align: center
        }
    }
    .Awards{
        background-color: $lightgraybg;
        h1{
            @extend %h1withline;
            color: $darkgrey;
            margin-top: 50px;
        }
        h2{
            padding-bottom: 20px;
        }
        h3{ 
            padding-bottom: 10px;
        }
        .awardswrap{
            padding-top: 50px;
        }
        .item{
            text-align: center;
            float: left;        
            @include break(1000px){
                @include grid(2, 5%)
            }

            .imagewrap{
                height: 280px;
                position:relative;
            }            
            img{
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                left: 0;
                right: 0;
            }
        }
    }
}

.contact{
    #nav-icon{
        span{
            background: $grey;
        }
    } 
    .mainpage{

        padding: 0;
        h1{
            @extend %h1withline;
            color: $darkgrey;
        }
        h2{
            @extend %h2withunderline;
            padding: 50px 0; 
            a{
                color: $darkgrey;
                transition: .25s ease-in-out;
                &:hover{
                    color: $yellow;
                }
            }
        }
        p{
            color: $darkgrey;
            text-align: center;
        }
        .wrap{
            padding-top: 150px;
        }
    }  
}

.homepage{
    /*    @include bgImage('mainimage.jpg', top center)*/
    min-height: 100%;
    /*    overflow: hidden;*/
    .homepagevidwrap{
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: absolute;
    }
    padding: 0;
    .whiteheader{
        box-shadow: none;
    }
    .wrap{

        .center{
            @include clearfix;
            text-align: center;
            .btn2{
                margin-bottom: 50px;
            }
        } 
    }
    .whatwedo{
        @include clearfix;
        @include bgImage('mainimage_grey.jpg', top center)
        color: $white;
        background-attachment: fixed;
        padding-top: 100px;
        h1{        
            @extend %h1withline;
        }
        h2{
            @extend %h2withunderline;
        }
        p{
            color: $white;
            text-align: center;
        }
        .grid{
            @include clearfix;
            .item{
                @include grid(1, 5%)
                text-align: center;
                float: left;        
                @include break(1000px){
                    @include grid(3, 10%)
                    margin-bottom: 50px;
                }
            }
        }

    }
}

.product{

    section{
        padding: 0;
    }
    .productswrap{
        overflow: hidden;
    }
    .productsAudiowrap{
        overflow: hidden;
    }
    .slideritem{
        float: left;
    }
    .slick-next{
        top: 600px;
    }
    .slick-prev{
        top: 600px;
    }
    .header{
        height: 570px;
    }
    .quickdetails{
        a{
            color: $grey;
            text-decoration: underline;
            &:hover{
                color: $yellow;
            }
        }
        .item{
            float: left;  
            text-align: center;
            margin-bottom: 40px;
            @include grid(3, 5%); 
        }
        ul{
            list-style-type: square;
            margin: 18px 18px 18px 88px;
            li{
                margin-top: 0.25em;
                text-align: left;
            }
        }

    }
    h1{
        @extend %h1withline;
        font-size: 2.5em;
        font-weight: 400;

    }
    h2{
        font-weight: 400;
        padding: 20px 0;
    }
    .findoutmorewrap{
        text-align: center;
        margin-bottom: 50px;

        .item{
            float: left;

            @include grid(2, 5%);
            /*            .findoutbut{
                            float: right;
                        }
                        .viewcourse{
                            float: left;
                        }*/
        }
    }
    .findoutbut{
        display: inline-block;
        padding: 20px 40px;
        margin-top: 15px;
        border: none;
        border: 2px solid $yellow;
        font-size: 16px;    
        cursor: pointer;
        transition: .25s ease-in-out;
        &:hover{
            background: $yellow;

        }
        a{
            color: $grey;
            &:visited{
                color: $grey;
            }
        }
    }
    .viewcourse{
        display: inline-block;
        padding: 20px 40px;
        margin-top: 15px;
        border: none;
        border: 2px solid $darkgrey;
        font-size: 16px;    
        cursor: pointer;
        background: $lightgrey;
    }
    .colorwrap{
        @include clearfix;
        text-align: center;
        padding-bottom: 30px;
        h3{
            padding: 20px;
        }
    }
    .colortringle{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20px 27.5px 0 27.5px;      
        display: inline-block;
    }
    .quitewrap{
        text-align: center;
        .quite{
            width: 80%;
            margin: 0 auto;
            padding: 5% 10%;
            position: relative;
            &:before{
                background-image: url('quote1.png');
                width: 132px;
                height: 102px;
                display: block;
                position: absolute;
                top: 20px;
                left: 20px;
                content: " ";
                z-index: 100;
            }
            &:after{
                background-image: url('quote2.png');
                width: 132px;
                height: 102px;
                display: block;
                position: absolute;
                bottom: 20px;
                right: 20px;
                content: " ";
                z-index: 100;
            }
            .author{
                color: $yellow;
                font-weight: 600;
            }
        }
    }
    .margintop{
        @include clearfix;
        position: relative;
        margin-top: -420px;
        .productlaptop{
            background-image: url('productlaptop.png');
            height: 500px;
            width: 708px;
            position: relative;
            background-repeat: no-repeat;
            margin-top: 40px;
            margin-left: 43px;

            .innerwindow{
                width: 533px;
                height: 327px;
                position: absolute;
                top: 24px;
                left: 87px;
                overflow: hidden;
                video{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .producphone{
            background-image: url('mobile_phone_vertical.png');
            height: 446px;
            width: 250px;
            background-repeat: no-repeat;
            position: absolute;
            top: 200px;
            right: 140px;
            .innerwindow{
                width: 223px;
                height: 397px;
                position: absolute;
                top: 22px;
                left: 14px;
                overflow: hidden;
                background-position: center top;              
                transition: all 2s;
                &:hover{
                    background-position: center bottom;                
                    transition: all 4s ;

                }
            }
        }
        .productlaptopone{
            @extend .productlaptop;          
            margin: 40px auto 0;
        }

        .producipad{
            background-image: url('producipad.png');
            height: 500px;
            width: 708px;
            background-repeat: no-repeat;
            position: absolute;
            top: 330px;
            right: -290px;
        }
        .producipad_big{
            background-image: url('producipad_big.png');
            height: 392px;
            width: 700px;
            background-repeat: no-repeat;
            position: relative;
            margin: 50px auto;

            .innerwindow{
                width: 623px;
                height: 349px;
                position: absolute;
                top: 22px;
                left: 44px;
                overflow: hidden;
                video{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

