$max-width: 768px;
$white:#ffffff;
$red: #ff5858;
$pink: #f33155;
$grey: #646464;
$lightgrey: #c9c9c9;
$lightgraybg: #ebebeb;
$darkgrey: #5c5c5c;
$yellow: #fae80b;
$imgurl: "";
$textshadow: 1px 1px 2px #969696;