@@include('./head.html')
<body class="about">
    @@include('./header.html')
    <main>
        <section class="mainpage">
            <div class="wrap">
                <h1>About us <span class="yellowdot"></span></h1>

                <div class="playicon"></div>
                <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <span class="yellowdot"></span></h2>
                <br /><br />
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit get in touch. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                <br /><br />
            </div>             
        </section>
        <section class="team">
            <div class="wrap">

                <div class="teamitemwrap">
                    <div class="teamitem">
                        <div class="bubble">
                            <img src="css/Tracey.png" alt="" />
                        </div>
                        <div class="hiddenbubble"></div>
                        <br />
                        Tracey<br />Studio Manager
                    </div>
                    <div class="teamitem">
                        <div class="bubble">
                            <img src="css/Alison.png" alt="" />
                        </div>
                        <br />
                        Alison <br />Lead ID
                    </div>
                    <div class="teamitem">
                        <div class="bubble">
                            <img src="css/Sam.png" alt="" />
                        </div>
                        <br />
                        Sam <br />Lead Copy Writer
                    </div>
                    <div class="teamitem">
                        <div class="bubble">
                            <img src="css/Maria.png" alt="" />
                        </div>
                        <br />
                        Maria<br />DTP Team Leader
                    </div>
                    <div class="teamitem">
                        <div class="bubble">
                            <img src="css/Jasmin.png" alt="" />
                        </div>
                        <br />
                        Jasmin<br />Designer
                    </div>
                    <div class="teamitem">
                        <div class="bubble">
                            <img src="css/Marko.png" alt="" />
                        </div>
                        <br />
                        Marko<br />Film and Post
                    </div>
                    <div class="teamitem">
                        <div class="bubble">
                            <img src="css/Lawrence.png" alt="" />
                        </div>
                        <br />
                        Lawrence<br />Designer
                    </div>
                    <div class="teamitem">
                        <div class="bubble">
                            <img src="css/Martin.png" alt="" />
                        </div>
                        <br />
                        Martin<br />Animator
                    </div>
                    <div class="teamitem">
                        <div class="bubble">
                            <img src="css/Theron.png" alt="" />
                        </div>
                        <br />
                        Theron<br />Senior Designer
                    </div>
                    <div class="teamitem">
                        <div class="bubble">
                            <img src="css/Stewart.png" alt="" />
                        </div>
                        <br />
                        Stewart<br />Senior Designer
                    </div>
                    <div class="teamitem">
                        <div class="bubble">
                            <img src="css/Richard.png" alt="" />
                        </div>
                        <br />
                        Richard<br />Animator
                    </div>
                    <div class="teamitem">
                        <div class="bubble">
                            <img src="css/Jaanki.png" alt="" />
                        </div>
                        <br />
                        Jaanki<br />Designer
                    </div>

                    <div class="teamitem">
                        <div class="bubble">
                            <!--                        <img src="css/Vish.png" alt="" />-->
                        </div>
                        <br />
                        Vish<br />Senior Developer
                    </div>
                    <div class="teamitem">
                        <div class="bubble">
                            <img src="css/Rokas.png" alt="" />
                        </div>
                        <br />
                        Rokas<br />Front End Developer
                    </div>
                    <div class="teamitem">
                        <div class="bubble">
                            <img src="css/Haz.png" alt="" />
                        </div>
                        <br />
                        Haz<br />Project Manager
                    </div>
                    <div class="teamitem">
                        <div class="bubble">
                            <img src="css/anayah.png" alt="" />
                        </div>
                        <br />
                        Anayah<br />Project Manager
                    </div>
                </div>


            </div>             
        </section>
        <section class="Awards">
            <div class="wrap">
                <h1>Industry Awards.</h1>
                <div class="awardswrap">
                    <div class="item">
                        <img src="css/awards-praceholder.png" alt="" />
                        <h2><b>Brandon Hall Awards</b></h2>
                        <h3>The Brandon Hall Group</h3>

                        <h3><b>Best Use of Video for Learning 2015</b></h3>
                        <h3><b>Best Use of Blended Learning 2015</b></h3>

                        <p> The most prestigious awards programme in the industry, The Brandon Hall Group Excellence Awards have been operating for an impressive 22 years, rewarding excellence since 1994. Prizes are handed out over more than a hundred categories.</p>
                        <p>Organisations that have successfully deployed programs, strategies, modalities, processes, systems, and tools that have achieved measurable results are recognised by the Excellence Awards. The program attracts entrants from leading corporations around the world, as well as mid-market and smaller firms. Solution providers with innovative, cutting-edge technologies, products and services also have the opportunity to enter.</p>                
                    </div>
                    <div class="item">
                        <img src="css/awards-praceholder.png" alt="" />
                        <h2><b>The Learning Awards</b></h2>
                        <h3>The Learning Performance Institute</h3>

                        <h3><b>Innovation in Learning Award Finalist 2016</b></h3>
                        <h3><b>Gold Accredited Learning Provider 2015</b></h3>

                        <p>The flagship awards of The Learning Performance Institute celebrate outstanding examples of high standards, best practice, innovation and excellence in Learning and Development. Categories include Learning Provider of the Year, Learning Professional of the Year, the Learning Technologies Award and the Innovation in Learning Award. The Institute divides each category into Gold, Silver and Bronze awards. The Institute also provide accreditation for learning providers.</p>                
                    </div>
                    <div class="item">
                        <img src="css/awards-praceholder.png" alt="" />
                        <h2><b>TJ Awards</b></h2>
                        <h3>Training Journal </h3>

                        <h3><b>Shortlisted, 2015</b></h3>

                        <p>The prestigious learning publication Training Journal runs it annual awards ceremony every year as part of a gala dinner. 16 awards and a Special Achievement Award are announced on the night, with the occasion supported by over 500 sponsors. Awards include Best Use of Technology in Learning, L&D Team of the Year and L&D Professional of the Year.</p

                    </div>
                </div>
            </div>
        </section>
        @@include('./footer.html')
