@@include('./head.html')
<body class="about">
    @@include('./header.html')
    <main>
        <section class="mainpage">
            <div class="wrap">
                <h1>About us <span class="yellowdot"></span></h1>



                <div class="playvid">
                    <div class="playbut">
                        <div class="playicon">

                        </div>
                    </div>

                    <div class="videomainwrap">
                        <div class="videowrap">
                            <video controls id="video1">
                                <source src="FINAL_web.mp4" type="video/mp4"></source>
                                Your browser does not support the video tag.
                            </video>
                            <div class="vidclose"></div>
                        </div>
                        <div class="lightbox"></div>
                    </div>
                </div>

                <h2>To find out more about how we work, <br /> click on the video above.</h2>
                <br /><br />
                <p>Design Lab is an experienced combination of graphic and instructional designers, animators, copywriters, website developers and project managers with experience in a wide range of sectors and industries. </p>
                <p>From our base in Canary Wharf, we offer self-contained, end-to-end learning across multiple digital platforms, supplemented by more traditional means such as print and instructor-led training. Design Lab produces innovative learning solutions that remain true to the client’s corporate brand and identity.</p>
                <br /><br />
            </div>             
        </section>
        <section class="team">
            <div class="wrap">

                <div class="teamitemwrap">
                    <div class="hiddenbubble"></div>
                    <div title="Tracey leads the day-to-day operations of Design Lab. With over 25 years of experience within the financial and learning sectors, Tracey’s knowledge of the team’s output is second to none. As a testament to her leadership skills, she’s even trained her son to be a stormtrooper (albeit in Star Wars: The Force Awakens)." class="teamitem">
                        <div class="bubble">
                            <img src="css/Tracey.png" alt="" />                            
                        </div>

                        <br />
                        Tracey<br />Studio Manager
                    </div>
                    <div title="As our resident ID, Alison directs the learning content of Design Lab. Having recently returned from a 7.5-year stint in Australia and being fluent in French, our native Brummie Alison has a truly global outlook. The only thing she knows more about than instructional design is the continuing march of the Disney Empire.
                         Alison brings to us a decade of experience in adult learning and instructional design in the legal and financial sectors, and also in leadership and change. She has taught adults French and English as a foreign language and is no stranger to facilitating on a number of different development topics.
                         " class="teamitem">
                        <div class="bubble">
                            <img src="css/Alison.png" alt="" />
                        </div>
                        <br />
                        Alison <br />Instructional Designer 
                    </div>
                    <div title=" Our team’s editorial juan-of-all-trades, Sam writes, edits and proofreads. A veritable ghoul, Sam occupies the existential sofa-cushion gap between gremlin and goblin, providing inspirational wordage of scripts, various copy and limericks. He hates green tea, so give him lots.
                         Like all scribes reared and educated in The Shire, Sam honed his proofeading and copy editing skills at the British Council. At Design Lab, he distils his naturally enigmatic mirth and unparalleled humour into much of our engaging copy.
                         " class="teamitem">
                        <div class="bubble">
                            <img src="css/Sam.png" alt="" />
                        </div>
                        <br />
                        Sam <br />Editorial
                    </div>
                    <div title="Our very own Chris Columbus, fresh-faced film grad Marko brings his cinematic expertise all the way from Estonia. Having recently become vegan, and settling into life in the financial sector, Marko has several reasons to eschew the need for £5 notes.
                         Marko is skilled in a variety of industry-standard software (Final Cut Pro, Davinci Resolve, Celtx) and equipment (camera, lighting, audio, green-screen) and is on hand as a resource from script generation through to post-production.
                         " class="teamitem">
                        <div class="bubble">
                            <img src="css/Marko.png" alt="" />
                        </div>
                        <br />
                        Marko<br />Film Production
                    </div>
                    <div title="Design Lab’s superhero, Captain Senior Designer Theron has accepted 27 months and counting of great power and great responsibility as our Captain of Lectora and go-to for all things template-related. As you might have guessed, he’s so irretrievably deep into the annals of nerd-dom that he has his very own samurai sword.
                         Theron is endowed with the following superpowers: Adobe Creative Suite, Fireworks, web authoring tools and Flash. With a background as a software engineer, Theron has Design Lab’s ideal blend of both technical and creative acumen.
                         " class="teamitem">
                        <div class="bubble">
                            <img src="css/Theron.png" alt="" />
                        </div>
                        <br />
                        Theron<br />Senior Designer
                    </div>
                    <div title="Who saved Jean-Paul Gaultier from a flaming death? Stewart Brown, that’s who. Our Senior Designer plays a large part in the unique look and feel of Design Lab – guiding our visual brand towards a better tomorrow.
                         With a passion for customer-centred user centric design, Stewart has spent over a decade expanding and refining his integrated skill set, which includes art direction; eLearning; UI/UX; animation; film; print; advertising; direct mail; storyboarding; branding and brand partnership. Can you tell he has a significant agency background? 
                         " class="teamitem">
                        <div class="bubble">
                            <img src="css/Stewart.png" alt="" />
                        </div>
                        <br />
                        Stewart<br />Senior Designer
                    </div>
                    <div title="Expertly-skilled in graphic design, Jas spent a year interning for us and is now one of our key designers and animators. A proud owner of a rotund Japanese Spitz, Jas loves her dog so much she books her birthday off every year.
                         With a strong background in digital media and concept design, Jas brings us her visual and branding knowledge from the events sector – including the 2012 Olympics. In expanding her skill set (which includes Adobe Creative Suite), she now also has a strong working knowledge of audio and video production.
                         " class="teamitem">
                        <div class="bubble">
                            <img src="css/Jasmin.png" alt="" />
                        </div>
                        <br />
                        Jasmin<br />Designer
                    </div>
                    <div title="Racking up 9 years of experience in the dark arts of desktop publishing, Lawrence is still full of surprises as the team’s most voracious consumer of all things sci-fi and fantasy.
                         Lawrence bestows upon us extensive desktop publishing and client-facing experience from the corporate Big 4 firms and investment banking sectors. Along with using MS PowerPoint, Adobe Photoshop and Adobe Illustrator to craft everything from classroom presentations to onboarding documents, Lawrence is now our Commander Riker to Theron’s Captain Picard when it comes to Lectora. 
                         " class="teamitem">
                        <div class="bubble">
                            <img src="css/Lawrence.png" alt="" />
                        </div>
                        <br />
                        Lawrence<br />Designer
                    </div>
                    <div title="With a hand possessed by literally everyone at Ghibli animation studios, former intern Jaanki is our most talented illustrator and should frankly be designing tattoos for Icelandic fairies. Not content with dazzling sight, Jaanki regularly wows the tastes buds of those around her by baking elaborate cakes worthy of The Great British Bake-Off. 
                         In addition to design and illustration, Jaanki has evolved to support our more technical design needs; she has led course creation on our Lectora platform, and works closely with our offshore team to generate ideas for course assets and animation. She is advanced in all things Creative Suite. In her spare time, she does volunteer design work for a leading children’s rights charity. 
                         " class="teamitem">
                        <div class="bubble">
                            <img src="css/Jaanki.png" alt="" />
                        </div>
                        <br />
                        Jaanki<br />Designer
                    </div>
                    <div title="Maria Baldacchino, the leading light in our Artwork department, boasts 22 years of artworking and design experience. Italian-rooted to the core, Maria is the Edna Mode of our printed materials – accessible, high-impact, no-nonsense (and of course with no capes!)
                         Maria brings us extensive experience in graphics and design from the publishing and agency sectors, and has a working knowledge of InDesign, Illustrator, Photoshop and QuarkXPress, along with our workflow managing system Teamwork.
                         " class="teamitem">
                        <div class="bubble">
                            <img src="css/Maria.png" alt="" />
                        </div>
                        <br />
                        Maria<br />Art Worker
                    </div>
                    <div title="Along with Martin, Ginger Gandalf Rich is Design Lab’s other guru on all things motion graphics. A veritable Shang Tsung of gaming and geekery, Rich has appeared on GamesWorld, recorded music and vocals for his own metal band, and once had a life-changing encounter with Hale and Pace in the Orpington Bowling Gallery.
                         Creatively-driven and mentor-ready, Rich brings us over 15 years of animation, VFX and sound creation/mixing experience from the gaming, travel, entertainment, e-commerce and corporate sectors. 
                         " class="teamitem">
                        <div class="bubble">
                            <img src="css/Richard.png" alt="" />
                        </div>
                        <br />
                        Richard<br />Animator
                    </div>
                    <div title="If you want a chance to meet a celebrity, look no further than former Countdown champion and Design Lab motion graphics designer Martin Sears. This teapot clock-winner has designed an entire library of animated characters – some of whom look like us! – that pop up in many of our products. So be nice to him, or he’ll do you like Cecilia Giménez did Ecce Homo.
                         With his strong background in 2D animation and character design and a passion for digital storytelling, Martin makes excellent use of his experience from the eLearning, charity and entertainment sectors.
                         " class="teamitem">
                        <div class="bubble">
                            <img src="css/Martin.png" alt="" />
                        </div>
                        <br />
                        Martin<br />Animator
                    </div>
                    <div title="Vish is our prized solutions architect, but yet has never seen the ground breaking TV comedy Silicon Valley. Our superlative tech wizard is so advanced compared to us that he managed to find a way to rig 2016’s Secret Santa pool so that he got himself. Slow robot claps.
                         With an educational background of both business and computer applications, Vish has worn many hats in his 13+ years in the eLearning industry. Skilled in Flash, Captivate, HTML, CSS, JQuery, JavaScript and most LMS platforms, Vish also has his head in the cloud(-based learning system that he set up for our library of eLearnings).
                         " class="teamitem">
                        <div class="bubble">
                            <img src="css/Vish.png" alt="" />
                        </div>
                        <br />
                        Vish<br />Senior Developer
                    </div>
                    <div title="Other than Marvel Comics’s Colossus, have you ever met a man whose favourite colour is silver? Meet Rokas, our future-thinking, tech jonas-of-all-trades, who brings over 17 years of industry experience to our team of educators. We know, he doesn’t look that old.
                         Rokas brings to Design Lab his unique perspective on front-end development, web design, and interactive and digital design. Driven by industry best practices and emerging technologies, Rokas regularly wows us with his mastery of HTML, CSS, PHP, SQL, .NET, JSON, XML, Ajax, JavaScript, ActionScript, SEO, UI/UX design, and all the other things we think he’s made up. 
                         " class="teamitem">
                        <div class="bubble">
                            <img src="css/Rokas.png" alt="" />
                        </div>
                        <br />
                        Rokas<br />Front End Developer
                    </div>
                    <div title="Along with Anayah, Haz project manages all incoming work, bids, pitches, proposals, invoices and team lunches, like a pint-sized Mary Poppins. A lifelong Poplar resident, Haz is our original East London Gal. In the 3 years she spent away from the area, a multitude of skyscrapers have sprung up like shiny profit-guardians in the night, so Haz is the poster girl for embracing change. 
                         Haz is imbued with project management experience from a multitude of sectors including eLearning, HR, events (including the London Olympics) and new media. She boasts a project management qualification in APM IC and is working towards a PRINCE 2. Having been in the eLearning industry for 5 years, Haz is also our skilled commander of Learning Management Systems Docebo, Moodle and Blackboard. 
                         " class="teamitem">
                        <div class="bubble">
                            <img src="css/Haz.png" alt="" />
                        </div>
                        <br />
                        Haz<br />Project Manager
                    </div>
                    <div title="On the frontline of Design Lab, CIPD qualified Anayah brings us a decade of experience in the practices of HR/Learning & Development and project management. Along with Haz, Anayah manages all incoming work and can see our pipeline for miles, even on a cloudy day. Drawing power from her heterochromic eyes, Anayah has sung for both the Queen and Queen Mother, and is legitimately, fully prepared for a zombie apocalypse. No, really.
                         Anayah gifts us with a plethora of lead and specialist experience in training, eLearning, professional development and project management in the banking, education and recruitment sectors. With her skills running the gamut " class="teamitem">
                        <div class="bubble">
                            <img src="css/anayah.png" alt="" />
                        </div>
                        <br />
                        Anayah<br />Project Manager
                    </div>
                </div>


            </div>             
        </section>
        <section class="Awards">
            <div class="wrap">
                <h1>Industry Awards <span class="yellowdot"></span></h1>
                <div class="awardswrap">
                    <div class="item">
                        <div class="imagewrap">
                            <img src="css/BrandonHallAwards.png " alt="" />
                        </div>



                        <h3><b>Best Use of Video for Learning 2015</b></h3>
                        <h3><b>Best Use of Blended Learning 2015</b></h3>

                        <p> The most prestigious awards programme in the industry, The Brandon Hall Group Excellence Awards have been operating for an impressive 22 years, rewarding excellence since 1994. Prizes are handed out over more than a hundred categories.</p>
                        <p>Organisations that have successfully deployed programs, strategies, modalities, processes, systems, and tools that have achieved measurable results are recognised by the Excellence Awards. The program attracts entrants from leading corporations around the world, as well as mid-market and smaller firms. Solution providers with innovative, cutting-edge technologies, products and services also have the opportunity to enter.</p>                
                    </div>
                    <div class="item">
                        <div class="imagewrap">

                            <img src="css/LearningAwardsLogo.png" alt="" />

                        </div>


                        <h3><b>Innovation in Learning Award Finalist 2016</b></h3>
                        <h3><b>Gold Accredited Learning Provider 2015</b></h3>

                        <p>The flagship awards of The Learning Performance Institute celebrate outstanding examples of high standards, best practice, innovation and excellence in Learning and Development. Categories include Learning Provider of the Year, Learning Professional of the Year, the Learning Technologies Award and the Innovation in Learning Award. The Institute divides each category into Gold, Silver and Bronze awards. The Institute also provide accreditation for learning providers.</p>                
                    </div>
                    <div class="item">
                        <div class="imagewrap">

                            <img src="css/tjawards.jpg" alt="" />

                        </div>




                        <h3><b>Shortlisted, 2015</b></h3>

                        <p>The prestigious learning publication Training Journal runs it annual awards ceremony every year as part of a gala dinner. 16 awards and a Special Achievement Award are announced on the night, with the occasion supported by over 500 sponsors. Awards include Best Use of Technology in Learning, L&D Team of the Year and L&D Professional of the Year.</p

                    </div>
                </div>
            </div>
        </section>
        @@include('./footer.html')
