@@include('./header.html')
<main class="about">
    <section class="mainpage">
        <div class="wrap">
            <h1>About us <span class="yellowdot"></span></h1>

            <div class="playicon"></div>
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <span class="yellowdot"></span></h2>
            <br /><br />
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit get in touch. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            <br /><br />
        </div>             
    </section>
    <section class="team">
        <div class="wrap">

            <div class="teamitemwrap">
                <div class="teamitem">
                    <div class="bubble">
                        <img src="files/img/Tracey.png" alt="" />
                    </div>
                    <br />
                    Tracey<br />Studio Manager
                </div>
                <div class="teamitem">
                    <div class="bubble">
                        <img src="files/img/Alison.png" alt="" />
                    </div>
                    <br />
                    Alison <br />Lead ID
                </div>
                <div class="teamitem">
                    <div class="bubble">
                        <img src="files/img/Sam.png" alt="" />
                    </div>
                    <br />
                    Sam <br />Lead Copy Writer
                </div>
                <div class="teamitem">
                    <div class="bubble">
                        <img src="files/img/Maria.png" alt="" />
                    </div>
                    <br />
                    Maria<br />DTP Team Leader
                </div>
                <div class="teamitem">
                    <div class="bubble">
                        <img src="files/img/Jasmin.png" alt="" />
                    </div>
                    <br />
                    Jasmin<br />Designer
                </div>
                <div class="teamitem">
                    <div class="bubble">
                        <img src="files/img/Marko.png" alt="" />
                    </div>
                    <br />
                    Marko<br />Film and Post
                </div>
                <div class="teamitem">
                    <div class="bubble">
                        <img src="files/img/Lawrence.png" alt="" />
                    </div>
                    <br />
                    Lawrence<br />Designer
                </div>
                <div class="teamitem">
                    <div class="bubble">
                        <img src="files/img/Martin.png" alt="" />
                    </div>
                    <br />
                    Martin<br />Animator
                </div>
                <div class="teamitem">
                    <div class="bubble">
                        <img src="files/img/Sara.png" alt="" />
                    </div>
                    <br />
                    Sara<br />Copy writer
                </div>
                <div class="teamitem">
                    <div class="bubble">
                        <img src="files/img/Theron.png" alt="" />
                    </div>
                    <br />
                    Theron<br />Senior Designer
                </div>
                <div class="teamitem">
                    <div class="bubble">
                        <img src="files/img/Stewart.png" alt="" />
                    </div>
                    <br />
                    Stewart<br />Senior Designer
                </div>
                <div class="teamitem">
                    <div class="bubble">
                        <img src="files/img/Richard.png" alt="" />
                    </div>
                    <br />
                    Richard<br />Animator
                </div>
                <div class="teamitem">
                    <div class="bubble">
                        <img src="files/img/Jaanki.png" alt="" />
                    </div>
                    <br />
                    Jaanki<br />Designer
                </div>

                <div class="teamitem">
                    <div class="bubble">
                        <img src="files/img/Vish.png" alt="" />
                    </div>
                    <br />
                    Vish<br />Senior Developer
                </div>
                <div class="teamitem">
                    <div class="bubble">
                        <img src="files/img/Rokas.png" alt="" />
                    </div>
                    <br />
                    Rokas<br />Front End Developer
                </div>
                <div class="teamitem">
                    <div class="bubble">
                        <img src="files/img/Haz.png" alt="" />
                    </div>
                    <br />
                    Haz<br />Project Manager
                </div>
                <div class="teamitem">
                    <div class="bubble">
                        <img src="files/img/Anayah.png" alt="" />
                    </div>
                    <br />
                    Anayah<br />Project Manager
                </div>
            </div>


        </div>             
    </section>
    @@include('./footer.html')
