@@include('./head.html')
<body class="product">
    @@include('./header.html')
    <main>
        <section class="productsAudiowrap">

            <div class="slideritem Academy_GAL_big">
                <div class="header"></div>
                <div class="wrap">
                    <div class="margintop">
                        <h1>Academy // <br /> <span class="smallfont">GAL Audit Academy</span></h1>
                        <div class="productlaptopone">
                            <div class="innerwindow">
                                <video autoplay preload loop>
                                    <source src="Academy_web.mp4" type="video/mp4">
                                    fallback image 
                                </video>
                            </div>
                        </div>
                        <div class="quickdetails">
                            <div class="item">
                                <div class="time-ico"></div>
                                <h2>Time</h2>
                                <p>180 days</p>
                            </div>
                            <div class="item">
                                <div class="cost-ico"></div>
                                <h2>Cost</h2>
                                <p>£210,000</p>
                            </div>
                            <div class="item">
                                <div class="resourses-ico"></div>
                                <h2>Resources</h2>
                                <ul>
                                    <li>The entire team!</li>
                                    <li>Wide range of software and technology</li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div style="background: #f0f0f0" class="colorwrap">
                    <div class="wrap">
                        <div style="border-color: #ffffff transparent transparent transparent" class="colortringle"></div>
                        <h3>Project overview</h3>
                        <p>As well as providing digital design and development capability, the Design Lab also provides our clients with curriculum design support. Thanks to our extensive experience in designing learning, our instructional designers have supported a number of clients in ensuring that the products they request from us are indeed the right fit for their learning outcome.</p>
                        <p>In the case of the Global Assurance Learning Academy, Design Lab helped identify a number of appropriate products to align with both their audience’s needs and the style of content. This resulted in a fully blended learning solution of four complete learning pathways, comprising VILTs, videos, knowledge assessment checks, a branching decision-based game and an eLearning module.</p>
                    </div>
                </div>
                <div class="wrap">
                    <div class="quitewrap">
                        <div style="border-color: #f0f0f0 transparent transparent transparent" class="colortringle"></div>
                        <div class="quite">
                            <p>We collaborated with Design Lab on designing and developing an Academy that aimed at upskilling Assurance colleagues who have recently been promoted to New Seniors. The learning experiences were designed to build and develop key skills, behaviours and mental models of client facing Advanced Senior Auditors.  </p>

                            <p>We worked with Design Lab and a host of Subject Matter Experts from EY on refocusing their learning strategy to better change new seniors’ behaviours, embed learning and drive a step change in their day to day activities. As a result of this collaboration, we designed a curriculum using a blend of various learning modules like Virtual Instructor-Led Training, You-Tube style eBriefings and a number of digital knowledge check modalities, which supported the formative and summative assessments of learner progress. On top of those solutions, we had the opportunity to design and develop and one-of-a-kind digital Avatar game. This game was designed to influence effective decision making – learners were emerged into a ‘virtual scenario’ which would change dependent on the decisions they chose to make whilst playing the game. It would then inform how those decisions impacted project margins, client satisfaction and resource mix. </p>

                            <p>The project took us on a journey filled with challenges, which were approached in a collaborative manner at all times. It was a great example of team collaboration and pushing the boundaries of innovation that we wanted to introduce to the Global Assurance practice. Design Lab’s Instructional Designers put a great deal of effort into designing world-class learning really putting emphasis on ‘thinking’ rather than ‘doing’ and the Digital Designers worked hard on making sure that the key learning messages were relayed in an engaging, modern and fun way that played strongly to the profile of the target audience.</p>

                            <h3><span class="author">Mary Glowacka</span> - Senior PAS</h3>
                        </div>
                    </div>
                </div>

            </div>



        </section>
        @@include('./catslider.html')
        @@include('./footer.html')
