@@include('./head.html')
<body class="product">
    @@include('./header.html')
    <main>
        <section class="productswrap">

            <div class="slideritem CharacterLevel1_basicMobility_big">
                <div class="header"></div>
                <div class="wrap">
                    <div class="margintop">
                        <h1>Videobyte Character Level 1 Basic Mobility //<br /> <span class="smallfont">GAL Intro</span></h1>
                        <div class="producipad_big">

                        </div>
                        <div class="quickdetails">
                            <div class="item">
                                <div class="time-ico"></div>
                                <h2>Time</h2>
                                <p>TBC</p>
                            </div>
                            <div class="item">
                                <div class="cost-ico"></div>
                                <h2>Cost</h2>
                                <p>TBC</p>
                            </div>
                            <div class="item">
                                <div class="resourses-ico"></div>
                                <h2>Resources</h2>
                                <p>Adobe Flash</p>
                                <p>Adobe Character Animator</p>
                                <p>Adobe After Effects</p>                               
                            </div>
                        </div>
                        <div class="findoutmorewrap">
                            <div class="item">
                                <div class="findoutbut">FIND OUT MORE</div>
                            </div>
                            <div class="item">
                                <div class="viewcourse">VIEW COURSE</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="background: #acdff1" class="colorwrap">
                    <div class="wrap">
                        <div style="border-color: #ffffff transparent transparent transparent" class="colortringle"></div>
                        <h3>Project overview</h3>
                        <p>Our in-house animation team devised a project-specific character to integrate into our GAL offering, using programs such as Adobe Character Animator and Adobe Flash. The mixed, personalised approach features a hand-drawn ‘coach’ who provides an instant access point to learning content, acting as a host, connecting each section, and introducing the content. The character was voiced by a Senior Partner, recorded in our London studio and synched with the final product in post-production. This approach personalised the course from the start, and proved an imaginative way to convey the client’s message.</p>
                    </div>
                </div>
                <div class="wrap">
                    <div class="quitewrap">
                        <div style="border-color: #acdff1 transparent transparent transparent" class="colortringle"></div>
                        <div class="quite">
                            <p>TBC</p>
                            <h3><span class="author">Zahra Sheikh</span> - Senior Manager</h3>
                        </div>
                    </div>
                </div>
            </div>


            <div class="slideritem CharacterLevel2_FullMobility">
                <div class="header"></div>
                <div class="wrap">
                    <div class="margintop">
                        <h1>Videobyte Character Level 2 Full Mobility //<br /> <span class="smallfont">BNPP AML</span></h1>
                        <div class="producipad_big">

                        </div>
                        <div class="quickdetails">
                            <div class="item">
                                <div class="time-ico"></div>
                                <h2>Time</h2>
                                <p>TBC</p>
                            </div>
                            <div class="item">
                                <div class="cost-ico"></div>
                                <h2>Cost</h2>
                                <p>TBC</p>
                            </div>
                            <div class="item">
                                <div class="resourses-ico"></div>
                                <h2>Resources</h2>
                                <p>Adobe Flash</p>
                                <p>Adobe Character Animator</p>
                                <p>Adobe After Effects</p>           
                            </div>
                        </div>
                        <div class="findoutmorewrap">
                            <div class="item">
                                <div class="findoutbut">FIND OUT MORE</div>
                            </div>
                            <div class="item">
                                <div class="viewcourse">VIEW COURSE</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="background: #96c8cf" class="colorwrap">
                    <div class="wrap">
                        <div style="border-color: #ffffff transparent transparent transparent" class="colortringle"></div>
                        <h3>Project overview</h3>
                        <p>With our ‘level 2’ animated character, with full mobility, the sky’s the limit. We will produce a fully-mobile character with a range of actions, gestures and facial expressions. One high-level example of this is our fully-animated video for BNPP AML. Our motion graphics animator, a natural digital storyteller, knew that having a distinctive, narrative concept would underpin the project’s theme and make the character’s journey more engaging and memorable. Working with our instructional designer, project manager, and two other motion graphics designers, this asset was successfully produced with an innovative and creative blend of storyboarding, illustration, character animation, sound design, video editing and compositing. </p>
                    </div>
                </div>
                <div class="wrap">
                    <div class="quitewrap">
                        <div style="border-color: #96c8cf transparent transparent transparent" class="colortringle"></div>
                        <div class="quite">
                            <p> TBC</p>
                            <h3><span class="author">Zahra Sheikh</span> - Senior Manager</h3>
                        </div>
                    </div>
                </div>
            </div>


            <div class="slideritem Infographics_BEPS">
                <div class="header"></div>
                <div class="wrap">
                    <div class="margintop">
                        <h1>Videobyte Infographics // <br /> <span class="smallfont">BEPS and People Agenda</span></h1>
                        <div class="producipad_big">

                        </div>
                        <div class="quickdetails">
                            <div class="item">
                                <div class="time-ico"></div>
                                <h2>Time</h2>
                                <p>TBC</p>
                            </div>
                            <div class="item">
                                <div class="cost-ico"></div>
                                <h2>Cost</h2>
                                <p>TBC</p>
                            </div>
                            <div class="item">
                                <div class="resourses-ico"></div>
                                <h2>Resources</h2>
                                <p>TBC</p>
                            </div>
                        </div>
                        <div class="findoutmorewrap">
                            <div class="item">
                                <div class="findoutbut">FIND OUT MORE</div>
                            </div>
                            <div class="item">
                                <div class="viewcourse">VIEW COURSE</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="background: #bcbfc5" class="colorwrap">
                    <div class="wrap">
                        <div style="border-color: #ffffff transparent transparent transparent" class="colortringle"></div>
                        <h3>Project overview</h3>
                        <p>TBC</p>
                    </div>
                </div>
                <div class="wrap">
                    <div class="quitewrap">
                        <div style="border-color: #bcbfc5 transparent transparent transparent" class="colortringle"></div>
                        <div class="quite">
                            <p> TBC</p>
                            <h3><span class="author">Zahra Sheikh</span> - Senior Manager</h3>
                        </div>
                    </div>
                </div>
            </div>



            <div class="slideritem HandSketched_Talent">
                <div class="header"></div>
                <div class="wrap">
                    <div class="margintop">
                        <h1>Videobyte hand Sketched //<br /> <span class="smallfont">Organiastion and talent in a digital world</span></h1>
                        <div class="producipad_big">

                        </div>
                        <div class="quickdetails">
                            <div class="item">
                                <div class="time-ico"></div>
                                <h2>Time</h2>
                                <p>TBC</p>
                            </div>
                            <div class="item">
                                <div class="cost-ico"></div>
                                <h2>Cost</h2>
                                <p>TBC</p>
                            </div>
                            <div class="item">
                                <div class="resourses-ico"></div>
                                <h2>Resources</h2>
                                <p>VideoScribe</p>
                                <p>Digital whiteboard </p>
                            </div>
                        </div>
                        <div class="findoutmorewrap">
                            <div class="item">
                                <div class="findoutbut">FIND OUT MORE</div>
                            </div>
                            <div class="item">
                                <div class="viewcourse">VIEW COURSE</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="background: #E9E9E9" class="colorwrap">
                    <div class="wrap">
                        <div style="border-color: #ffffff transparent transparent transparent" class="colortringle"></div>
                        <h3>Project overview</h3>
                        <p>Hand-sketched animations give videos an organic feel and an engaging, visual narrative to follow. One such animation we produced was a 6-minute video, narrated by our resident ID, and came to being after a process of concepts, storyboarding, narrative scriptwriting, and a huge number of exceptionally-detailed, hand-drawn animations. The drawings were conceptualised not just to supplement the narration, but to stand up as miniature illustrated stories in their own right, so our digital designers and ID worked together to craft the animated journey you see above.</p>
                    </div>
                </div>
                <div class="wrap">
                    <div class="quitewrap">
                        <div style="border-color: #E9E9E9 transparent transparent transparent" class="colortringle"></div>
                        <div class="quite">
                            <p>TBC</p>
                            <h3><span class="author">Zahra Sheikh</span> - Senior Manager</h3>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        @@include('./catslider.html')
        @@include('./footer.html')
