@@include('./head.html')
<body class="product">
    @@include('./header.html')
    <main>
        <section class="productsAudiowrap">

            <div class="slideritem CharacterLevel1_basicMobility_big">
                <div class="header"></div>
                <div class="wrap">
                    <div class="margintop">
                        <h1>Animation: Character Level 1 Basic Mobility //<br /> <span class="smallfont">GAL Project Management</span></h1>
                        <div class="producipad_big">
                            <div class="innerwindow">
                                <video controls preload loop>
                                    <source src="Characterlevel1_web.mp4" type="video/mp4">
                                    fallback image 
                                </video>
                            </div>
                        </div>
                        <div class="quickdetails">
                            <div class="item">
                                <div class="time-ico"></div>
                                <h2>Time</h2>
                                <p>20 days</p>
                            </div>
                            <div class="item">
                                <div class="cost-ico"></div>
                                <h2>Cost</h2>
                                <p>£4,150</p>
                            </div>
                            <div class="item">
                                <div class="resourses-ico"></div>
                                <h2>Resources</h2>
                                <ul>
                                    <li>Instructional Designer</li>
                                    <li>Digital Designer</li>
                                    <li>Proof reader/Editorial</li>
                                    <li>Video/Audio expert</li>
                                    <li>Adobe Flash</li>
                                    <li>Adobe Character Animator</li>
                                    <li>Adobe After Effects</li>
                                </ul>


                            </div>
                        </div>
                        
                    </div>
                </div>
                <div style="background: #acdff1" class="colorwrap">
                    <div class="wrap">
                        <div style="border-color: #ffffff transparent transparent transparent" class="colortringle"></div>
                        <h3>Project overview</h3>
                        <p>Our in-house animation team devised a project-specific character to integrate into our GAL offering, using programs such as Adobe Character Animator and Adobe Flash. The mixed, personalised approach features a hand-drawn ‘coach’ who provides an instant access point to learning content, acting as a host, connecting each section, and introducing the content. The character was voiced by a Senior Partner, recorded in our London studio and synched with the final product in post-production. This approach personalised the course from the start, and proved an imaginative way to convey the client’s message.</p>
                    </div>
                </div>
                <div class="wrap">
                    <div class="quitewrap">
                        <div style="border-color: #acdff1 transparent transparent transparent" class="colortringle"></div>
                        <div class="quite">
                            <p>Over the course of 7 months, EY collaborated with Williams Lea on designing and developing an Academy that aimed at upskilling Assurance colleagues who have recently been promoted to New Seniors. As a result of this collaboration, we designed a curriculum using a blend of various learning modules like Virtual Instructor-Led Training, You-Tube style eBriefings and a number of digital knowledge check modalities. </p>
                            <p>We worked on designing a short opening video, which would introduce learners to the course and inject excitement right from the beginning. To do that, we knew we needed to create something a little bit different. Our designers did a fantastic job doing just that and came up with a concept of positioning project management in the context of every-day life activities like going to the cinema or weekly shopping. This, in combination with a multitude of colourful graphics, background music and a simple, sharp message, resulted in a unique audio-visual peace that creates instant interest and presents a complex concept in a simple and relatable way. It was new, fresh and unexpected!</p>
                            <h3><span class="author">Mary Glowacka</span> - Senior, PAS</h3>
                        </div>
                    </div>
                </div>
            </div>


            <div class="slideritem CharacterLevel2_FullMobility">
                <div class="header"></div>
                <div class="wrap">
                    <div class="margintop">
                        <h1>Animation: Character Level 2 Full Mobility //<br /> <span class="smallfont">Anti-Money Laundering and KYC</span></h1>
                        <div class="producipad_big">
                            <div class="innerwindow">
                                <video controls preload loop>
                                    <source src="Characterlevel2_web.mp4" type="video/mp4">
                                    fallback image 
                                </video>
                            </div>
                        </div>
                        <div class="quickdetails">
                            <div class="item">
                                <div class="time-ico"></div>
                                <h2>Time</h2>
                                <p>40 days</p>
                            </div>
                            <div class="item">
                                <div class="cost-ico"></div>
                                <h2>Cost</h2>
                                <p>£8,625 </p>
                            </div>
                            <div class="item">
                                <div class="resourses-ico"></div>
                                <h2>Resources</h2>
                                <ul>
                                    <li>Project Manager</li>
                                    <li>Animator</li>
                                    <li>Instructional Designer</li>
                                    <li>Proof reader/Editorial</li>
                                    <li>Video/Audio expert</li>
                                    <li>Flash</li>
                                    <li>After Effects</li>
                                    <li>Adobe Premiere</li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div style="background: #96c8cf" class="colorwrap">
                    <div class="wrap">
                        <div style="border-color: #ffffff transparent transparent transparent" class="colortringle"></div>
                        <h3>Project overview</h3>
                        <p>With our ‘level 2’ animated character, with full mobility, the sky’s the limit. We will produce a fully-mobile character with a range of actions, gestures and facial expressions. This is  one high-level example of this style. Our motion graphics animator, a natural digital storyteller, knew that having a distinctive, narrative concept would underpin the project’s theme and make the character’s journey more engaging and memorable. Working with our instructional designer, project manager, and two other motion graphics designers, this asset was successfully produced with an innovative and creative blend of storyboarding, illustration, character animation, sound design, video editing and compositing. </p>
                    </div>
                </div>
                <div class="wrap">
                    <div class="quitewrap">
                        <div style="border-color: #96c8cf transparent transparent transparent" class="colortringle"></div>
                        <div class="quite">
                            <p>This animation was the introduction to a broader learning solution for our client so it was important it captured our learners’ interest immediately. Design Lab worked closely with our engagement team to ensure we achieved the best result possible for our client’s needs and created a really engaging product. The level of animation and storyline were really impressive, as was the team’s patience and professionalism as the project progressed.</p>
                            <h3><span class="author">Vanesha Parkash </span> - Senior Manager, PAS</h3>
                        </div>
                    </div>
                </div>
            </div>


            <div class="slideritem Infographics_BEPS">
                <div class="header"></div>
                <div class="wrap">
                    <div class="margintop">
                        <h1>Videobyte Infographics // <br /> <span class="smallfont">BEPS and People Agenda</span></h1>
                        <div class="producipad_big">
                            <div class="innerwindow">
                                <video controls preload loop>
                                    <source src="Infographics_web.mp4" type="video/mp4">
                                    fallback image 
                                </video>
                            </div>
                        </div>
                        <div class="quickdetails">
                            <div class="item">
                                <div class="time-ico"></div>
                                <h2>Time</h2>
                                <p>35 days</p>
                            </div>
                            <div class="item">
                                <div class="cost-ico"></div>
                                <h2>Cost</h2>
                                <p>£6,500</p>
                            </div>
                            <div class="item">
                                <div class="resourses-ico"></div>
                                <h2>Resources</h2>
                               <ul>
                                   <li>Project Manager</li>
                                   <li>Digital Designer </li>
                                   <li>Video/Audio Expert</li>
                                   <li>Proofreader/ Editorial</li>
                                   <li>Adobe Flash</li>
                                   <li>Adobe After Effects</li>
                               </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div style="background: #bcbfc5" class="colorwrap">
                    <div class="wrap">
                        <div style="border-color: #ffffff transparent transparent transparent" class="colortringle"></div>
                        <h3>Project overview</h3>
                        <p>Utilising our highly-skilled Design team, we produced an accessible bite-sized video around Base Erosion and Profit Shifting, or BEPS. Working from a narrative script created by the client and finessed by a member of our Editorial team, our designer used Adobe Flash and After Effects to develop a content-rich series of infographics, drawing out key learning moments and information. The use of an infographic allowed us to present complex technical information in an easy-to-digest way and reinforced the central message of the voiceover visually. </p>
                    </div>
                </div>
                <div class="wrap">
                    <div class="quitewrap">
                        <div style="border-color: #bcbfc5 transparent transparent transparent" class="colortringle"></div>
                        <div class="quite">
                            <p>Working with the Design Lab Digital Designer was an absolute pleasure.  She was clearly skilled at her job but also had a very obvious will to complete the best possible product and asked high quality and pertinent questions. I could not have asked for more. </p>
                            <h3><span class="author">Ernie McDade </span> - Director, PAS</h3>
                        </div>
                    </div>
                </div>
            </div>



            <div class="slideritem HandSketched_Talent">
                <div class="header"></div>
                <div class="wrap">
                    <div class="margintop">
                        <h1>Animation: Hand-sketched //<br /> <span class="smallfont">Organisation and talent in a digital world</span></h1>
                        <div class="producipad_big">
                            <div class="innerwindow">
                                <video controls preload loop>
                                    <source src="handdrawnsketched_web.mp4" type="video/mp4">
                                    fallback image 
                                </video>
                            </div>
                        </div>
                        <div class="quickdetails">
                            <div class="item">
                                <div class="time-ico"></div>
                                <h2>Time</h2>
                                <p>45 days</p>
                            </div>
                            <div class="item">
                                <div class="cost-ico"></div>
                                <h2>Cost</h2>
                                <p>£15,468</p>
                            </div>
                            <div class="item">
                                <div class="resourses-ico"></div>
                                <h2>Resources</h2>
                                <ul>
                                    <li>Project Manager</li>
                                    <li>Digital Designer</li>
                                    <li>Proof reader/Editorial</li>
                                    <li>Video/Audio expert</li>
                                    <li>VideoScribe</li>
                                    <li>Digital whiteboard</li>
                                </ul>
                            </div>
                        </div>                        
                    </div>
                </div>
                <div style="background: #E9E9E9" class="colorwrap">
                    <div class="wrap">
                        <div style="border-color: #ffffff transparent transparent transparent" class="colortringle"></div>
                        <h3>Project overview</h3>
                        <p>Hand-sketched animations give videos an organic feel and an engaging, visual narrative to follow. One such animation we produced was a 6-minute video, and came to being after a process of concepts, storyboarding, narrative scriptwriting, and a huge number of exceptionally-detailed, hand-drawn animations. The drawings were conceptualised not just to supplement the narration, but to stand up as miniature illustrated stories in their own right, so our digital and instructional designers worked together to craft the animated journey you see above.</p>
                    </div>
                </div>
                <div class="wrap">
                    <div class="quitewrap">
                        <div style="border-color: #E9E9E9 transparent transparent transparent" class="colortringle"></div>
                        <div class="quite">
                            <p>It was a pleasure to work with the DLC team. We are extremely happy with the final product and look forward to showcasing this work with our clients and internal EY colleagues. It was a challenging initiative to bring together various stakeholders, who had different opinions, and feedback that needed to be addressed. The DLC team managed this very well and ensured that all parties were happy with the final video, which required a lot of extra effort on their part. </p>
                            <p>It was amazing to see how they brought the story to life from a simple concept, to a video that completely illustrates our thought leadership. The design team was extremely patient with our requests, specifically Stewart Brown, the Designer. We were very impressed with his creativity, and the quality of the illustrations, especially considering our storyline completely changed from the initial briefing. In addition, the project management from both Anayah and Hazarun was excellent.</p>
                            <h3><span class="author">Stephanie Pitfield</span> - Manager, PAS</h3>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        @@include('./catslider.html')
        @@include('./footer.html')
