@@include('./head.html')
<body class="product">
    @@include('./header.html')
    <main>
        <section class="productswrap">

            <div class="slideritem Rapid_DesignLab">
                <div class="header"></div>
                <div class="wrap">
                    <div class="margintop">
                        <h1>eLearning: Rapid Templated // <br /> <span class="smallfont">Design Lab Overview </span></h1>
                        <div class="productlaptopone">
                            <div class="innerwindow">
                                <video autoplay preload loop>
                                    <source src="RapidTemplate.mp4" type="video/mp4">
                                    fallback image 
                                </video>
                            </div>
                        </div>

                        <div class="quickdetails">
                            <div class="item">
                                <div class="time-ico"></div>
                                <h2>Time</h2>
                                <p>Approximately 25 days</p>
                            </div>
                            <div class="item">
                                <div class="cost-ico"></div>
                                <h2>Cost</h2>
                                <p>£8000 – 14,500</p>
                                <p>Cost for this style of eLearning varies depending on Instructional Design input and client requirements. If you would like to receive a quote based on this example, please contact <a href="mailto:designlab@uk.ey.com">designlab@uk.ey.com</a></p>
                            </div>
                            <div class="item">
                                <div class="resourses-ico"></div>
                                <h2>Resources</h2>
                                <ul>
                                    <li>Project Manager</li>
                                    <li>Instructional Designer</li>
                                    <li>Digital Designer</li>
                                    <li>Microsoft Articulate Studio</li>                                   
                                </ul>                               
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div style="background: #f0f0f0" class="colorwrap">
                    <div class="wrap">
                        <div style="border-color: #ffffff transparent transparent transparent" class="colortringle"></div>
                        <h3>Project overview</h3>
                        <p>Our rapid course is a quick to deploy, product created using our highly accessible Articulate Studio software. As our quickest and most economical eLearning offering, rapid courses are ideal for those who prefer an inexpensive, streamlined option. This course allowed us to expand on each part of the Design Lab’s offering, populating each section with information about each of our departments, from the team themselves to their individual processes. If you would like to view this course in full, please contact us.</p>
                    </div>
                </div>
                

            </div>



            <div class="slideritem eLearning_EY_Libuary">
                <div class="header"></div>
                <div class="wrap">
                    <div class="margintop">
                        <h1>eLearning: Advanced Templated //<br /> <span class="smallfont">Design Lab Overview</span></h1>
                        <div class="productlaptopone">
                            <div class="innerwindow">
                                <video autoplay preload loop>
                                    <source src="AdvancedTemplate.mp4" type="video/mp4">
                                    fallback image 
                                </video>
                            </div>
                        </div>
                        <div class="quickdetails">
                            <div class="item">
                                <div class="time-ico"></div>
                                <h2>Time</h2>
                                <p>Approximately 32 days </p>
                            </div>
                            <div class="item">
                                <div class="cost-ico"></div>
                                <h2>Cost</h2>
                                <p>£10,800 - £17,000</p>
                                <p>Cost for this style of eLearning varies depending on Instructional Design input and client requirements. If you would like to receive a quote based on this example, please contact <a href="mailto:designlab@uk.ey.com">designlab@uk.ey.com</a></p>
                            </div>
                            <div class="item">
                                <div class="resourses-ico"></div>
                                <h2>Resources</h2>
                                <ul>
                                    <li>Project Manager</li>
                                    <li>Instructional Designer</li>
                                    <li>Digital Designer</li>
                                    <li>Developer </li>
                                    <li>Lectora </li>
                                </ul>

                            </div>
                        </div>
                        
                    </div>
                </div>
                <div style="background: #f0f0f0" class="colorwrap">
                    <div class="wrap">
                        <div style="border-color: #ffffff transparent transparent transparent" class="colortringle"></div>
                        <h3>Project overview</h3>
                        <p>Our advanced templated option for eLearning is based around quick-to-deploy content population tools, which allow all modules to be customised to our clients’ branding while remaining templated in functionality and interactivity for speed of production. Each section of the course is templated in advance, then populated from content devised by an Instructional Designer and Subject Matter Resource, or SMR, usually provided by the client. In this example, a simple, accessible design ensured it was a high-impact, low-timescale piece of eLearning, aligned to EY’s brand identity. If you would like to view this course in full, please contact us.</p>
                    </div>
                </div>
               

            </div>
            <div class="slideritem eLearning_Co_exist">
                <div class="header"></div>
                <div class="wrap">
                    <div class="margintop">
                        <h1>eLearning: Bespoke //<br /> <span class="smallfont">Religious Literacy for Organisations</span></h1>
                        <div class="productlaptopone">
                            <div class="innerwindow">
                                <video autoplay preload loop>
                                    <source src="bespoke_coexist_forweb.mp4" type="video/mp4">
                                    fallback image 
                                </video>
                            </div>
                        </div>
                        <div class="quickdetails">
                            <div class="item">
                                <div class="time-ico"></div>
                                <h2>Time</h2>
                                <p>90 days</p>
                            </div>
                            <div class="item">
                                <div class="cost-ico"></div>
                                <h2>Cost</h2>
                                <p>£35,000</p>
                            </div>
                            <div class="item">
                                <div class="resourses-ico"></div>
                                <h2>Resources</h2>
                                <ul>
                                    <li>Project Manager</li>
                                    <li>Instructional Designer</li>
                                    <li>Digital Designer</li>
                                    <li>Proof reader/Editorial</li>
                                    <li>Video/Audio expert</li>
                                    <li>Lectora</li>
                                    <li>Microsoft PowerPoint</li>
                                    <li>Illustrator</li>
                                    <li>InDesign</li>
                                    <li>Photoshop</li>
                                    <li>After Effects</li>
                                </ul>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div style="background: #e9d6d6" class="colorwrap">
                    <div class="wrap">
                        <div style="border-color: #ffffff transparent transparent transparent" class="colortringle"></div>
                        <h3>Project overview</h3>
                        <p>Coexist was a markedly different client for Design Lab – a non-profit organisation that seeks to promote religious literacy, awareness and tolerance in the workplace. This therefore was a very sensitive undertaking, requiring constant input from the client and a completely bespoke package.</p>
                        <p>Working closely with Coexist and our EY Senior Partner, we developed a comprehensive eLearning course illustrating the challenges surrounding religious literacy and tolerance in the workplace. Each page was heavily customised to match Coexist’s strong visual identity and brand guidelines. If you would like to view this course in full, please contact us.</p>
                    </div>
                </div>
                <div class="wrap">
                    <div class="quitewrap">
                        <div style="border-color: #e9d6d6 transparent transparent transparent" class="colortringle"></div>
                        <div class="quite">
                            <p>The Religious Literacy module was a different type of module to create compared to other ones we typically build. This is because the subject matter, was subjective and not prescribed. </p>
                            <P>This required a significant level of creativity as well as sensitivity. The designers adapted to the context well, providing suggestions for images and design, and ensuring that they were keeping within a corporate but “safe” type of branding. The end product was excellent.</P>
                            <P>The team were lovely to work with – understanding the need for flexibility and accommodating my requests. The team’s attitude has to be commended – they are always approachable and friendly and I really enjoy working with them.</P>
                            <h3><span class="author">Zahra Sheikh</span> - Senior Manager, Risk</h3>
                        </div>
                    </div>
                </div>

            </div>

        </section>
        @@include('./catslider.html')
        @@include('./footer.html')
