@@include('./head.html')
<body class="product">
    @@include('./header.html')
    <main>
        <section class="productswrap">

            <div class="slideritem Rapid_DesignLab">
                <div class="header"></div>
                <div class="wrap">
                    <div class="margintop">
                        <h1>eLearning Rapid // <br /> <span class="smallfont">DesignLab overview rapid course</span></h1>
                        <div class="productlaptop">

                        </div>
                        <div class="producipad">

                        </div>
                        <div class="quickdetails">
                            <div class="item">
                                <div class="time-ico"></div>
                                <h2>Time</h2>
                                <p>TBC</p>
                            </div>
                            <div class="item">
                                <div class="cost-ico"></div>
                                <h2>Cost</h2>
                                <p>TBC</p>
                            </div>
                            <div class="item">
                                <div class="resourses-ico"></div>
                                <h2>Resources</h2>
                                <p>Lectora</p>
                            </div>
                        </div>
                        <div class="findoutmorewrap">
                            <div class="item">
                                <div class="findoutbut">FIND OUT MORE</div>
                            </div>
                            <div class="item">
                                <div class="viewcourse">VIEW COURSE</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="background: #f0f0f0" class="colorwrap">
                    <div class="wrap">
                        <div style="border-color: #ffffff transparent transparent transparent" class="colortringle"></div>
                        <h3>Project overview</h3>
                        <p>Our rapid course was a quick to deploy, minimum-effort offering using our highly accessible Lectora software. As our quickest, most economical and least complicated eLearning offering, rapid courses are ideal for those who prefer an inexpensive, streamlined option. This course allowed us to expand on each part of the Design Lab’s offering, populating each section with information about each of our departments, from the team themselves to their individual processes.</p>
                    </div>
                </div>
                <div class="wrap">
                    <div class="quitewrap">
                        <div style="border-color: #f0f0f0 transparent transparent transparent" class="colortringle"></div>
                        <div class="quite">
                            <p>TBC</p>
                            <h3><span class="author">Zahra Sheikh</span> - Senior Manager</h3>
                        </div>
                    </div>
                </div>

            </div>
            <div class="slideritem eLearning_EY_Libuary">
                <div class="header"></div>
                <div class="wrap">
                    <div class="margintop">
                        <h1>eLearning Templated //<br /> <span class="smallfont">EY Library (Anti Money Laundering) </span></h1>
                        <div class="productlaptop">

                        </div>
                        <div class="producipad">

                        </div>
                        <div class="quickdetails">
                            <div class="item">
                                <div class="time-ico"></div>
                                <h2>Time</h2>
                                <p>TBC</p>
                            </div>
                            <div class="item">
                                <div class="cost-ico"></div>
                                <h2>Cost</h2>
                                <p>TBC</p>
                            </div>
                            <div class="item">
                                <div class="resourses-ico"></div>
                                <h2>Resources</h2>
                                <p>TBC</p>
                            </div>
                        </div>
                        <div class="findoutmorewrap">
                            <div class="item">
                                <div class="findoutbut">FIND OUT MORE</div>
                            </div>
                            <div class="item">
                                <div class="viewcourse">VIEW COURSE</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="background: #f0f0f0" class="colorwrap">
                    <div class="wrap">
                        <div style="border-color: #ffffff transparent transparent transparent" class="colortringle"></div>
                        <h3>Project overview</h3>
                        <p>Our templated option for eLearning is based around quick-to-deploy content population tools. Each section of the course is templated in advance, then populated from content devised by an Instructional Designer and Subject Matter Resource, or SMR, usually provided by the client. In the case of Anti Money-Laundering, or AML, much of the content was adapted and modified from elements of an existing course, core animations were used to strengthen learning points and a simple, accessible design ensured it was a high-impact, low-timescale piece of eLearning, perfectly aligned to EY’s brand identity.</p>
                    </div>
                </div>
                <div class="wrap">
                    <div class="quitewrap">
                        <div style="border-color: #f0f0f0 transparent transparent transparent" class="colortringle"></div>
                        <div class="quite">
                            <p> TBC</p>
                            <h3><span class="author">Zahra Sheikh</span> - Senior Manager</h3>
                        </div>
                    </div>
                </div>

            </div>
            <div class="slideritem eLearning_Co_exist">
                <div class="header"></div>
                <div class="wrap">
                    <div class="margintop">
                        <h1>eLearning bespoke //<br /> <span class="smallfont">EY // Co-Exist</span></h1>
                        <div class="productlaptop">

                        </div>
                        <div class="producipad">

                        </div>
                        <div class="quickdetails">
                            <div class="item">
                                <div class="time-ico"></div>
                                <h2>Time</h2>
                                <p>TBC</p>
                            </div>
                            <div class="item">
                                <div class="cost-ico"></div>
                                <h2>Cost</h2>
                                <p>TBC</p>
                            </div>
                            <div class="item">
                                <div class="resourses-ico"></div>
                                <h2>Resources</h2>
                                <p>TBC</p>
                            </div>
                        </div>
                        <div class="findoutmorewrap">
                            <div class="item">
                                <div class="findoutbut">FIND OUT MORE</div>
                            </div>
                            <div class="item">
                                <div class="viewcourse">VIEW COURSE</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="background: #e9d6d6" class="colorwrap">
                    <div class="wrap">
                        <div style="border-color: #ffffff transparent transparent transparent" class="colortringle"></div>
                        <h3>Project overview</h3>
                        <p>Coexist was a markedly different client for Design Lab – a non-profit organisation that seeks to promote religious literacy, awareness and tolerance in the workplace. This therefore was a very sensitive undertaking, requiring constant input from the client and a completely bespoke package.</p>
                        <p>Working closely with Coexist and our EY Senior Partner, we developed a comprehensive eLearning course illustrating the challenges surrounding religious literacy and tolerance in the workplace. Each page was heavily customised to match Coexist’s strong visual identity and brand guidelines.</p>
                    </div>
                </div>
                <div class="wrap">
                    <div class="quitewrap">
                        <div style="border-color: #e9d6d6 transparent transparent transparent" class="colortringle"></div>
                        <div class="quite">
                            <p>TBC</p>
                            <h3><span class="author">Zahra Sheikh</span> - Senior Manager</h3>
                        </div>
                    </div>
                </div>

            </div>

        </section>
        @@include('./catslider.html')
        @@include('./footer.html')
