@@include('./head.html')
<body class="product">
    @@include('./header.html')
    <main>
        <section class="productswrap">

            <div class="slideritem filming_Learning">
                <div class="header"></div>
                <div class="wrap">
                    <div class="margintop">
                        <h1>Head and shoulders filming // <br /> <span class="smallfont">FS Risk Learning week</span></h1>
                        <div class="producipad_big">

                        </div>
                        <div class="quickdetails">
                            <div class="item">
                                <div class="time-ico"></div>
                                <h2>Time</h2>
                                <p>TBC</p>
                            </div>
                            <div class="item">
                                <div class="cost-ico"></div>
                                <h2>Cost</h2>
                                <p>TBC</p>
                            </div>
                            <div class="item">
                                <div class="resourses-ico"></div>
                                <h2>Resources</h2>
                                <ul>
                                    <li>Black Magic Cinema Camera</li>                                
                                    <li>Nikon DSLR</li>
                                    <li>Green Screen Studio</li>
                                    <li>Premiere Pro</li>
                                    <li>DaVinci Resolve</li>
                                    <li>After Effects</li>
                                    <li>Adobe Audition</li>
                                </ul>

                            </div>
                        </div>
                        <div class="findoutmorewrap">
                            <div class="item">
                                <div class="findoutbut">FIND OUT MORE</div>
                            </div>
                            <div class="item">
                                <div class="viewcourse">VIEW COURSE</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="background: #d5cec9" class="colorwrap">
                    <div class="wrap">
                        <div style="border-color: #ffffff transparent transparent transparent" class="colortringle"></div>
                        <h3>Project overview</h3>
                        <p>For the high profile Paris Learning Week, our team produced a basic head and shoulders filming package, in which the speaker is filmed within our green screen studio and placed in an environment relevant to the setting. In this case, one of our speakers was placed in a number of environments relating to the conference’s French setting, such as the Eiffel Tower and Eurostar. During filming, our in-house director liaised closely with the client, ensuring the best possible end product. The segment was entirely shot and edited in-house, completed in a short timeframe, for minimum cost.</p>
                    </div>
                </div>
                <div class="wrap">
                    <div class="quitewrap">
                        <div style="border-color: #d5cec9 transparent transparent transparent" class="colortringle"></div>
                        <div class="quite">
                            <p>TBC</p>
                            <h3><span class="author">Zahra Sheikh</span> - Senior Manager</h3>
                        </div>
                    </div>
                </div>
            </div>


            <div class="slideritem Oil-and-Gas">
                <div class="header"></div>
                <div class="wrap">
                    <div class="margintop">
                        <h1>Videobyte filming with bespoke animation //<br /> <span class="smallfont">Oil and Gas</span></h1>
                        <div class="producipad_big">

                        </div>
                        <div class="quickdetails">
                            <div class="item">
                                <div class="time-ico"></div>
                                <h2>Time</h2>
                                <p>TBC</p>
                            </div>
                            <div class="item">
                                <div class="cost-ico"></div>
                                <h2>Cost</h2>
                                <p>TBC</p>
                            </div>
                            <div class="item">
                                <div class="resourses-ico"></div>
                                <h2>Resources</h2>
                                <ul>
                                    <li>Black Magic Cinema Camera</li>                                
                                    <li>Nikon DSLR</li>
                                    <li>Green Screen Studio</li>
                                    <li>Premiere Pro</li>
                                    <li>DaVinci Resolve</li>
                                    <li>After Effects</li>
                                    <li>Adobe Audition</li>
                                </ul>
                            </div>
                        </div>
                        <div class="findoutmorewrap">
                            <div class="item">
                                <div class="findoutbut">FIND OUT MORE</div>
                            </div>
                            <div class="item">
                                <div class="viewcourse">VIEW COURSE</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="background: #e2e3d8" class="colorwrap">
                    <div class="wrap">
                        <div style="border-color: #ffffff transparent transparent transparent" class="colortringle"></div>
                        <h3>Project overview</h3>
                        <p>Our filming with bespoke animation, as used for our Oil and Gas videos, is a step beyond our standard head and shoulders offering. Employing our highly skilled animators as well as our filming team, the core content is filmed in our state-of-the-art green screen studio, cut and edited in house, and then enhanced with animated backgrounds. These animations can convey statistics, tables, related visuals and hand-drawn characters. The end result allows us to convey supplementary information alongside the central message conveyed by the speaker.</p>
                    </div>
                </div>
                <div class="wrap">
                    <div class="quitewrap">
                        <div style="border-color: #e2e3d8 transparent transparent transparent" class="colortringle"></div>
                        <div class="quite">
                            <p>TBC</p>
                            <h3><span class="author">Zahra Sheikh</span> - Senior Manager</h3>
                        </div>
                    </div>
                </div>
            </div>


        </section>
        @@include('./catslider.html')
        @@include('./footer.html')
