@@include('./head.html')
<body class="product">
    @@include('./header.html')
    <main>
        <section class="productsAudiowrap">

            <div class="slideritem filming_Learning">
                <div class="header"></div>
                <div class="wrap">
                    <div class="margintop">
                        <h1>Head and Shoulders Filming // <br /> <span class="smallfont">Aviva MyDocs Proposal: Pitch Video</span></h1>
                        <div class="producipad_big">
                            <div class="innerwindow">
                                <video controls preload loop>
                                    <source src="Headandshouldersfilming_web.mp4" type="video/mp4">
                                    fallback image 
                                </video>
                            </div>
                        </div>
                        <div class="quickdetails">
                            <div class="item">
                                <div class="time-ico"></div>
                                <h2>Time</h2>
                                <p>2 days</p>
                            </div>
                            <div class="item">
                                <div class="cost-ico"></div>
                                <h2>Cost</h2>
                                <p>£1,900</p>
                            </div>
                            <div class="item">
                                <div class="resourses-ico"></div>
                                <h2>Resources</h2>
                                <ul>
                                    <li>Black Magic cinema cameras with tripods</li>
                                    <li>Tie microphones</li>
                                    <li>Single compact three-point lights kit</li>
                                    <li>Premiere Pro</li>
                                    <li>After Effects</li>                                
                                    <li>Adobe Audition</li>                                    
                                </ul>

                            </div>
                        </div>
                       
                    </div>
                </div>
                <div style="background: #d5cec9" class="colorwrap">
                    <div class="wrap">
                        <div style="border-color: #ffffff transparent transparent transparent" class="colortringle"></div>
                        <h3>Project overview</h3>
                        <p>Split over two locations in separate countries, our resident director was able to film the client both in our offices in Central London and in our EY office in Zurich, Switzerland. Our director travelled with a small portable pack of essential filming equipment consisting of professional grade cameras, sound equipment and a lighting kit. Once filming was completed, we edited the resulting successful pitch video together in our studio facilities in London.</p>
                    </div>
                </div>
                <div class="wrap">
                    <div class="quitewrap">
                        <div style="border-color: #d5cec9 transparent transparent transparent" class="colortringle"></div>
                        <div class="quite">
                            <p>Thank you so so much for all your hard work in turning around such fantastic videos in such a short space of time. We were all so impressed by how professional and impactful they were. It really was very much appreciated and added the “wow” factor to the pitch.</p>
                            <h3><span class="author">Sara McLeish </span> - Director, EMEIA Financial Services </h3>
                            
                        </div>
                    </div>
                </div>
            </div>


            <div class="slideritem Oil-and-Gas">
                <div class="header"></div>
                <div class="wrap">
                    <div class="margintop">
                        <h1>Filming with Bespoke Animation //<br /> <span class="smallfont">Oil and Gas – Asset Reliability and Integrity Management</span></h1>
                        <div class="producipad_big">
                            <div class="innerwindow">
                                <video controls preload loop>
                                    <source src="Filmingwithbespokeanimation_web.mp4" type="video/mp4">
                                    fallback image 
                                </video>
                            </div>
                        </div>
                        <div class="quickdetails">
                            <div class="item">
                                <div class="time-ico"></div>
                                <h2>Time</h2>
                                <p>40 days</p>
                            </div>
                            <div class="item">
                                <div class="cost-ico"></div>
                                <h2>Cost</h2>
                                <p>£39,033</p>
                            </div>
                            <div class="item">
                                <div class="resourses-ico"></div>
                                <h2>Resources</h2>
                                <ul>
                                    <li>Project Manager</li>
                                    <li>Digital Designer</li>
                                    <li>Proof reader/Editorial</li>
                                    <li>Video/Audio expert</li>
                                    <li>Black Magic Cinema Camera</li>                                
                                    <li>Nikon DSLR</li>
                                    <li>Green Screen Studio</li>
                                    <li>Premiere Pro</li>
                                    <li>DaVinci Resolve</li>
                                    <li>After Effects</li>
                                    <li>Adobe Audition</li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div style="background: #e2e3d8" class="colorwrap">
                    <div class="wrap">
                        <div style="border-color: #ffffff transparent transparent transparent" class="colortringle"></div>
                        <h3>Project overview</h3>
                        <p>Our filming with bespoke animation, as used for our Oil and Gas videos, is a step beyond our standard head and shoulders offering. Employing our highly skilled animators as well as our filming team, the core content is filmed in our state-of-the-art green screen studio, cut and edited in house, and then enhanced with animated backgrounds. These animations can convey statistics, tables, related visuals and hand-drawn characters. The end result allows us to convey supplementary information alongside the central message conveyed by the speaker.</p>
                    </div>
                </div>
                <div class="wrap">
                    <div class="quitewrap">
                        <div style="border-color: #e2e3d8 transparent transparent transparent" class="colortringle"></div>
                        <div class="quite">
                            <p>I really like it. The narrative just comes alive with the graphics! Well done on the production. </p>
                            <h3><span class="author">Marlon Richardson </span> - Partner/Principal, PI</h3>
                        </div>
                    </div>
                </div>
            </div>


        </section>
        @@include('./catslider.html')
        @@include('./footer.html')
