@@include('./head.html')
<body class="product">
    @@include('./header.html')
    <main>
        <section class="productswrap">

            <div class="slideritem Games_GAL-Game">
                <div class="header"></div>
                <div class="wrap">
                    <div class="margintop">
                        <h1>Game //<br /> <span class="smallfont">GAL PM Game</span></h1>
                        <div class="productlaptopone">
                            <div class="innerwindow">
                                <video controls preload>
                                    <source src="GALGame.mp4" type="video/mp4">
                                    fallback image 
                                </video>
                            </div>
                        </div>
                        <div class="quickdetails">
                            <div class="item">
                                <div class="time-ico"></div>
                                <h2>Time</h2>
                                <p>TBC</p>
                            </div>
                            <div class="item">
                                <div class="cost-ico"></div>
                                <h2>Cost</h2>
                                <p>TBC</p>
                            </div>
                            <div class="item">
                                <div class="resourses-ico"></div>
                                <h2>Resources</h2>
                                <p>TBC</p>
                            </div>
                        </div>
                        <div class="findoutmorewrap">
                            <div class="item">
                                <div class="findoutbut">FIND OUT MORE</div>
                            </div>
                            <div class="item">
                                <div class="viewcourse">VIEW COURSE</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="background: #8dc3df" class="colorwrap">
                    <div class="wrap">
                        <div style="border-color: #ffffff transparent transparent transparent" class="colortringle"></div>
                        <h3>Project overview</h3>
                        <p> A labour of love for Design Lab, our Global Assurance Learning (GAL) decision-making game was a steep learning curve for us all. Modelled like a ‘choose your own adventure’ with multiple options and character perspectives, this flash-based game with fully-mobile characters was a mix of everything in the pot: storyboarding, developing, animations, motion graphics, instructional design, game mechanics, character animation, compositing, multi-character scriptwriting, voice acting and video and sound mixing. The aim was to try something we’ve never done before – a companion game alongside an eLearning to make the learner’s journey more engaging and interactive. Because of its rich complexity, each member of our team was involved in lengthy sessions of functionality testing and bug fixing.</p>
                    </div>
                </div>
                <div class="wrap">
                    <div class="quitewrap">
                        <div style="border-color: #8dc3df transparent transparent transparent" class="colortringle"></div>
                        <div class="quite">
                            <p>TBC</p>
                            <h3><span class="author">Zahra Sheikh</span> - Senior Manager</h3>
                        </div>
                    </div>
                </div>

            </div>



        </section>
        @@include('./catslider.html')
        @@include('./footer.html')
