@@include('./head.html')
<body class="product">
    @@include('./header.html')
    <main>
        <section class="productswrap">

            <div class="slideritem Games_GAL-Game">
                <div class="header"></div>
                <div class="wrap">
                    <div class="margintop">
                        <h1>Games //<br /> <span class="smallfont">Thinking One Step Ahead</span></h1>
                        <div class="productlaptopone">
                            <div class="innerwindow">
                                <video controls preload>
                                    <source src="GALGame.mp4" type="video/mp4">
                                    fallback image 
                                </video>
                            </div>
                        </div>
                        <div class="quickdetails">
                            <div class="item">
                                <div class="time-ico"></div>
                                <h2>Time</h2>
                                <p>160 days</p>
                            </div>
                            <div class="item">
                                <div class="cost-ico"></div>
                                <h2>Cost</h2>
                                <p>£78,423</p>
                            </div>
                            <div class="item">
                                <div class="resourses-ico"></div>
                                <h2>Resources</h2>
                                <ul>
                                    <li>Project Manager</li>
                                    <li>Instructional Designer</li>
                                    <li>Animator</li>
                                    <li>Digital Designer</li>
                                    <li>Proof reader/Editorial</li>
                                    <li>Developer</li>
                                    <li>Adobe Flash</li>
                                    <li>Microsoft Powerpoint</li>
                                    <li>Microsoft Word </li>
                                </ul>               
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div style="background: #8dc3df" class="colorwrap">
                    <div class="wrap">
                        <div style="border-color: #ffffff transparent transparent transparent" class="colortringle"></div>
                        <h3>Project overview</h3>
                        <p> A labour of love for Design Lab, our Global Assurance Learning (GAL) project management decision-making game was a steep learning curve for us all. Modelled like a ‘choose your own adventure’ with multiple options and character perspectives, this flash-based game with fully-mobile characters was a mix of everything in the pot: storyboarding, developing, animations, motion graphics, instructional design, game mechanics, character animation, compositing, multi-character scriptwriting, voice acting and video and sound mixing. The aim was to try something we’ve never done before – a companion game alongside a virtually instructor-led training session to make the learner’s journey more engaging and interactive. Because of its rich complexity, each member of our team was involved in lengthy sessions of functionality testing and bug fixing.</p>
                    </div>
                </div>
                <div class="wrap">
                    <div class="quitewrap">
                        <div style="border-color: #8dc3df transparent transparent transparent" class="colortringle"></div>
                        <div class="quite">
                            <p>We had the opportunity to design and develop and one-of-a-kind digital Avatar game. This game was designed to influence effective decision making – learners were emerged into a ‘virtual scenario’ which would change dependent on the decisions they chose to make whilst playing the game. It would then inform how those decisions impacted project margins, client satisfaction and resource mix. </p>
                            <p>It was a great example of team collaboration and pushing the boundaries of innovation that we wanted to introduce to the Global Assurance practice. WL Instructional Designers put a great deal of effort into designing world-class learning really putting emphasis on ‘thinking’ rather than ‘doing’ and the Digital Designers worked hard on making sure that the key learning messages were relayed in an engaging, modern and fun way that played strongly to the profile of the target audience.</p>
                            <h3><span class="author">Mary Glowacka</span> - Senior, PAS</h3>
                        </div>
                    </div>
                </div>

            </div>



        </section>
        @@include('./catslider.html')
        @@include('./footer.html')
