<!DOCTYPE html><!DOCTYPE html>
<html>

    <head>
        <title>Rokas Valeckas | Test</title>
        <meta charset="utf-8">
        <meta name="author" content="Rokas Valeckas">
        <meta name="description" content="skill test">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <base href="./assets/">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css'>
        <link href="css/style.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <header>
            <div class="whiteheader">
                <div class="logo"></div>
                <nav>
                    <ul>
                        <li><a class="btn" href="#" target="_blank">HOME</a> </li>
                        <li><a class="btn" href="#" target="_blank">OUR WORK</a> </li>
                        <li><a class="btn" href="#" target="_blank">ABOUT</a> </li>
                        <li><a class="btn" href="#" target="_blank">CONTACT</a> </li>
                    </ul>
                </nav>
            </div>
            <div id="nav-icon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </header>
        <main>
            <section class="homepage">
                <div class="wrap">
                    <div class="whitelogo"></div>
                    <div class="white_down_arrow"></div>
                </div>
            </section>
        </main>
        <footer>
            <h2>Made with</h2> 
        </footer>
    </body>
    <script src="js/script.js" type="text/javascript"></script>

</html>

