@@include('./head.html')
<body class="homepage">
    @@include('./header.html')
    <main>
        <section class="homepage">
            <div class="full-video-wrapper">
                <video id="full-video" muted preload autoplay loop>
                    <source src="Sharepoint_Animation_1600x1050.mp4" type="video/mp4">
                    fallback image 
                    <img src="css/mainimage.jpg"/>
                </video>
            </div>
            <div class="whitelogo"></div>
            <div class="white_down_arrow"></div>
        </section>
        <section class="whatwedo">
            <div class="wrap">
                <h1>Creative solutions <span class="yellowdot"></span> <br />Real results <span class="yellowdot"></span></h1>




                <div class="playvid">
                    <div class="playbut">
                        <div class="playicon">

                        </div>
                    </div>

                    <div class="videomainwrap">
                        <div class="videowrap">
                            <video controls id="video1">
                                <source src="Sharepoint_draft_video.mp4" type="video/mp4"></source>
                                Your browser does not support the video tag.
                            </video>
                            <div class="vidclose"></div>
                        </div>
                        <div class="lightbox"></div>
                    </div>
                </div>



                <h2>To find out more about how we work, <br /> click on the video above <span class="yellowdot"></span></h2>
                <br /><br />
                <p>We are a learning specialist provider with an experienced team of learning experts able to both guide and help you answer your challenges. With a finger on the pulse of industry and innovation, we're focussed on delivering exceptional and engaging experiences to transform and build a better future for your organisation.</p>
                <br /><br />
                <div class="grid">
                    <div class="item"><div class=" brain"></div><br /><br />
                        <span class="biggertext">Learning</span><br /><br /> Learning is, first and foremost, Design Lab's core deliverables. Our output in this area includes eLearning, VILTs (Virtual Instructor-Led Training) and Classroom learning.
                    </div>
                    <div class="item"><div class="camera"></div><br /><br />
                        <span class="biggertext">Audio visual production</span> <br /><br />
                        Did you know that we have our own studio? Complete with green screens, professional-grade filming equipment and a dedicated editing area, our Green Room has everything you need to produce animations, voiceovers and videos at the sound of the word 'Action'.
                    </div>
                    <div class="item"><div class="link"></div><br /><br />
                        <span class="biggertext">Development and testing</span> <br /><br /> Our cutting-edge Development team are the experienced technical developers who provide solution and bring our digital products to life. Design Lab’s multi-skilled developers provide support for all of our digital cross platform services, including website / mobile development, apps, SharePoint sites.  Providing extensive UAT testing on every project.
                    </div>
                </div>
                <div class="center">
                    <a href="../services.html"><div class="btn2">VIEW ALL SERVICES</div></a>
                </div>
            </div>
        </section>
        @@include('./footer.html')
