@@include('./head.html')
<body class="our_work">
    @@include('./header.html')
    <main>
        <section class="mainpage">
            <div class="wrap">
                <h1>Our Work <span class="yellowdot"></span></h1>
                <div class="filters">
                    <div data-filter-group="aaa" class="button-group filters-button-group">
                        <button class="filterbutton newdesign" data-filter=".External">External Use</button>
                        <button class="filterbutton newdesign" data-filter=".Internal">Internal Use</button>
                    </div>



                    <div data-filter-group="bbb" class="button-group filters-button-group">
                        <button class="filterbutton is-checked" data-filter="*">show all <span class="smallyellowdot"></button>
                        <button class="filterbutton" data-filter=".eLearning">eLearning <span class="smallyellowdot"></button>
                        <button class="filterbutton" data-filter=".Filming">Filming <span class="smallyellowdot"></button>
                        <button class="filterbutton" data-filter=".Animation">Animation <span class="smallyellowdot"></button>

                        <button class="filterbutton" data-filter=".VILT">VILT <span class="smallyellowdot"></button>
                        <button class="filterbutton" data-filter=".Gamification">Gamification <span class="smallyellowdot"></button>
                        <button class="filterbutton" data-filter=".development">Web development <span class="smallyellowdot"></button>
                        <button class="filterbutton" data-filter=".Academy">Academy <span class="smallyellowdot"></button>
                    </div>
                </div>


                <div class="grid">

                    <div class="element-item eLearning External">
                        <img src="css/1_Elearning_Rapid_DesignLab-overview.jpg" alt="" />
                        <div class="description">
                            <div class="itemcenterwrap">
                                <h2>eLearning: Rapid <br /> Templated //</h2>
                                <h3>Design Lab Overview</h3>                           
                                <a href="../elearning.html#0">VIEW</a>
                            </div>
                        </div>
                    </div>
                    <div class="element-item eLearning External">
                        <img src="css/2_EY_Libuary_(AML).jpg" alt="" />
                        <div class="description">
                            <div class="itemcenterwrap">
                                <h2>eLearning: Advanced Templated // </h2>
                                <h3>Design Lab Overview</h3>                           
                                <a href="../elearning.html#1">VIEW</a>
                            </div>
                        </div>
                    </div>
                    <div class="element-item eLearning External">
                        <img src="css/3_Bespoke_Co-Exist.jpg" alt="" />
                        <div class="description">
                            <div class="itemcenterwrap">
                                <h2>eLearning: Bespoke // </h2>
                                <h3>Religious Literacy for Organisations</h3>                           
                                <a href="../elearning.html#2">VIEW</a>
                            </div>
                        </div>
                    </div>
                    <!--                    <div class="element-item eLearning">
                                            <img src="css/4_Elearning-Bespoke_EYG-Structured-Problem-Solving.jpg" alt="" />
                                            <div class="description">
                                                <div class="itemcenterwrap">
                                                    <h2>eLearning bespoke // </h2>
                                                    <h3>EYG Structured problem solving</h3>                           
                                                    <a href="../elearning.html">VIEW</a>
                                                </div>
                                            </div>
                                        </div>-->
                    <div class="element-item Filming Internal">
                        <img src="css/5_FS-Risk-Learning-Week.jpg" alt="" />
                        <div class="description">
                            <div class="itemcenterwrap">
                                <h2>Head and Shoulders <br />Filming // </h2>
                                <h3>Aviva MyDocs Proposal: Pitch Video</h3>                           
                                <a href="../filming.html#0">VIEW</a>
                            </div>
                        </div>
                    </div>
                    <div class="element-item Filming Internal">
                        <img src="css/6_videobyte_oil-and-gas.jpg" alt="" />
                        <div class="description">
                            <div class="itemcenterwrap">
                                <h2>Filming with Bespoke Animation // </h2>
                                <h3>Oil and Gas </h3>                           
                                <a href="../filming.html#1">VIEW</a>
                            </div>
                        </div>
                    </div>
                    <!--                    <div class="element-item Filming">
                                            <img src="css/7_Bespoke-filming-and-Animation_Lloyds-of-London.jpg" alt="" />
                                            <div class="description">
                                                <div class="itemcenterwrap">
                                                    <h2>Filming with animation //</h2>
                                                    <h3>EY and Lloyds - New frontiers</h3>                           
                                                    <a href="../animation.html#0">VIEW</a>
                                                </div>
                                            </div>
                                        </div>-->
                    <div class="element-item Animation External">
                        <img src="css/9_CharacterLevel1_basicMobility.jpg" alt="" />
                        <div class="description">
                            <div class="itemcenterwrap">
                                <h2>Animation: Character Level 1 Basic Mobility //</h2>
                                <h3>GAL Project Management</h3>                           
                                <a href="../animation.html#0">VIEW</a>
                            </div>
                        </div>
                    </div>
                    <div class="element-item Animation External">
                        <img src="css/10_CharacterLevel2.jpg" alt="" />
                        <div class="description">
                            <div class="itemcenterwrap">
                                <h2>Animation: Character Level 2 Full Mobility //</h2>
                                <h3>Anti-Money Laundering</h3>                           
                                <a href="../animation.html#1">VIEW</a>
                            </div>
                        </div>
                    </div>                    
                    <div class="element-item Animation Internal">
                        <img src="css/11_Videobyte_infographic.jpg" alt="" />
                        <div class="description">
                            <div class="itemcenterwrap">
                                <h2>Animation: Infographics // </h2>
                                <h3>BEPS and People Agenda</h3>                           
                                <a href="../animation.html#2">VIEW</a>
                            </div>
                        </div>
                    </div>
                    <div class="element-item Animation Internal">
                        <img src="css/12_Hand-Sketched_OrganisatonAndTalent.jpg" alt="" />
                        <div class="description">
                            <div class="itemcenterwrap">
                                <h2>Animation: Hand-sketched // </h2>
                                <h3>Organisation and talent in a digital world</h3>                           
                                <a href="../animation.html#3">VIEW</a>
                            </div>
                        </div>
                    </div>
                    <!--                    <div class="element-item Animation">
                                            <img src="css/13_Risk_Culture.jpg" alt="" />
                                            <div class="description">
                                                <div class="itemcenterwrap">
                                                    <h2>Videobyte //</h2>
                                                    <h3>Risk Culture</h3>                           
                                                    <a href="#">VIEW</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="element-item Animation">
                                            <img src="css/14_Bespoke_Project-Apollo.jpg" alt="" />
                                            <div class="description">
                                                <div class="itemcenterwrap">
                                                    <h2>Videobyte bespoke // </h2>
                                                    <h3>Project Apollo</h3>                           
                                                    <a href="#">VIEW</a>
                                                </div>
                                            </div>
                                        </div>                    -->
                    <div class="element-item VILT External">
                        <img src="css/15_VILT_GAL.jpg" alt="" />
                        <div class="description">
                            <div class="itemcenterwrap">
                                <h2>VILT // </h2>
                                <h3>GAL Project Management</h3>                           
                                <a href="../vilt.html#0">VIEW</a>
                            </div>
                        </div>
                    </div>
                    <!--                    <div class="element-item VILT">
                                            <img src="css/16_VILT_ID-Training-Materials.jpg" alt="" />
                                            <div class="description">
                                                <div class="itemcenterwrap">
                                                    <h2>VILT // </h2>
                                                    <h3>ID Training Materials</h3>                           
                                                    <a href="#">VIEW</a>
                                                </div>
                                            </div>
                                        </div>-->
                    <div class="element-item Gamification External">
                        <img src="css/17_GAL_Game.jpg" alt="" />
                        <div class="description">
                            <div class="itemcenterwrap">
                                <h2>Games //</h2>
                                <h3>One Step Ahead!</h3>                           
                                <a href="../gamification.html#0">VIEW</a>
                            </div>
                        </div>
                    </div>
                    <!--                    <div class="element-item Gamification">
                                            <img src="css/18_Car-game.jpg" alt="" />
                                            <div class="description">
                                                <div class="itemcenterwrap">
                                                    <h2>Game //</h2>
                                                    <h3>Business and Process improvement Game</h3>                           
                                                    <a href="#">VIEW</a>
                                                </div>
                                            </div>
                                        </div>                    -->
                    <div class="element-item development External">
                        <img src="css/19_Learning-Journeys.jpg" alt="" />
                        <div class="description">
                            <div class="itemcenterwrap">
                                <h2>Web Applications // </h2>
                                <h3>Advisory Learning Portal</h3>                           
                                <a href="../web_development.html#0">VIEW</a>
                            </div>
                        </div>
                    </div>                     
                    <!--                    <div class="element-item development">
                                            <img src="css/20_App_Gold-Day.jpg" alt="" />
                                            <div class="description">
                                                <div class="itemcenterwrap">
                                                    <h2>App //</h2>
                                                    <h3>EMIA FS RiskGetting Connected</h3>                           
                                                    <a href="#">VIEW</a>
                                                </div>
                                            </div>
                                        </div>-->
                    <div class="element-item development External">
                        <img src="css/21_App_Old_LDE-app.jpg" alt="" />
                        <div class="description">
                            <div class="itemcenterwrap">
                                <h2>Apps //</h2>
                                <h3>Getting Connected</h3>                           
                                <a href="../web_development.html#1">VIEW</a>
                            </div>
                        </div>
                    </div>  
                    <!--                    <div class="element-item development">
                                            <img src="css/22_Advanced-Analytics.jpg" alt="" />
                                            <div class="description">
                                                <div class="itemcenterwrap">
                                                    <h2>Website // </h2>
                                                    <h3>Advance Analytics</h3>                           
                                                    <a href="#">VIEW</a>
                                                </div>
                                            </div>
                                        </div>-->
                    <div class="element-item Academy External">
                        <img src="css/23_Academy_GAL.jpg" alt="" />
                        <div class="description">
                            <div class="itemcenterwrap">
                                <h2>Academy // </h2>
                                <h3>GAL Audit Academy</h3>                           
                                <a href="../academy.html#0">VIEW</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </section>
        @@include('./footer.html')