@@include('./head.html')
<body class="resources">
    @@include('./header.html')
    <main>
        <section class="mainpage">
            <div class="wrap">
                <h1>Resources <span class="yellowdot"></span></h1>      
                <p>We have collected a variety of resources below that will support you in defining and delivering your learning engagement with DesignLab. Please contact us if you have any queries or would like to discuss these resources. We will be adding to this page as we hear from you, so check back soon!</p>
            </div>             
        </section>


        <section class="documents">
            <div class="wrap">
                <h2>Documentation</h2>
                <div class="resourcesleft">

                    <div class="paddedleft">
                        <p>These documents provide a variety of instructions, information and guidelines to support your project or engagement. From information to help with describing our capabilities and services to guidelines for remote clients on how to record video content on their smartphone. Please feel free to download these documents for your use.</p>

                        <br /><br />
                    </div>
                </div>
                <div class="resourcesitemsright">


                    <table>
                        <thead>
                            <tr>
                                <th>Document</th>
                                <th>Download document</th>                               
                            </tr>
                        </thead>
                        <tbody>
                            <!--                            <tr>
                                                            <td>Digital Learning and Engagement App download instructions </td>
                                                            <td>
                                                                <a href="Design_Lab_Capabilities-AMEND_PROCESS_DIAGRAM.pdf" download>
                                                                    <img border="0" src="css/pdf_download.png" width="300px" height="82px">
                                                                </a>
                                                            </td>
                                                        </tr>-->
                            <tr>
                                <td>SMR briefing pack</td>
                                <td>
                                    <a href="Design_Lab_SMR_Briefing_Pack.pdf" download>
                                        <img border="0" src="css/pdf_download.png" width="300px" height="82px">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>iPhone filming guidelines </td>
                                <td>
                                    <a href="Design_Lab_iPhone_filming_guidelines.pdf" download>
                                        <img border="0" src="css/pdf_download.png" width="300px" height="82px">
                                    </a>
                                </td>
                            </tr>



                        </tbody>
                    </table>


                </div>
            </div>                     
        </section>

        <section class="animation">
            <div class="wrap">
                <h2>Animated character line up</h2>
                <div class="resourcesleft">
                    <p>If you would like to use an animated character as part of your video or eLearning module, you can choose from our standard characters who have become part of the DesignLab team! We’ve gathered them all together in this video line-up for you to peruse. We can also create bespoke characters for you if you have a specific idea – let your project manager know so they can discuss details with you.</p>

                </div>
                <div class="resourcesitemsright">


                    <div class="laptopsmall">
                        <div class="innerwindow">
                            <video width="500px" height="281px" poster="css/ResourcesAnimation.jpg" controls="" preload="" loop onclick="this.play()">
                                <source src="Animated_Character_Line_Up.mp4" type="video/mp4">fallback image</video>
                        </div>

                    </div>                              
                    <br /><br />


                </div>

            </div>             
        </section>

        <section class="audio">
            <div class="wrap">
                <h2>Voiceover samples</h2>
                <div class="resourcesleft">

                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Audio sample</th>                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Alison</td>
                                <td>
                                    <audio controls>
                                        <source src="Alison.mp3" type="audio/mpeg">
                                        Your browser does not support the audio tag.
                                    </audio> 
                                </td>
                            </tr>
                            <tr>
                                <td>Jaanki</td>
                                <td>
                                    <audio controls>
                                        <source src="Jaanki.mp3" type="audio/mpeg">
                                        Your browser does not support the audio tag.
                                    </audio> 
                                </td>
                            </tr>
                            <tr>
                                <td>Surbjit</td>
                                <td>
                                    <audio controls>
                                        <source src="Surbjit_mastered.mp3" type="audio/mpeg">
                                        Your browser does not support the audio tag.
                                    </audio> 
                                </td>
                            </tr>
                            <tr>
                                <td>Tracey</td>
                                <td>
                                    <audio controls>
                                        <source src="Tracey.mp3" type="audio/mpeg">
                                        Your browser does not support the audio tag.
                                    </audio> 
                                </td>
                            </tr>
                            <tr>
                                <td>Richard S</td>
                                <td>
                                    <audio controls>
                                        <source src="Richard_S_mastered.mp3" type="audio/mpeg">
                                        Your browser does not support the audio tag.
                                    </audio> 
                                </td>
                            </tr>
                            <tr>
                                <td>Richard Y</td>
                                <td>
                                    <audio controls>
                                        <source src="Richard_Y_mastered.mp3" type="audio/mpeg">
                                        Your browser does not support the audio tag.
                                    </audio> 
                                </td>
                            </tr>                            


                            <tr>
                                <td>Sam</td>
                                <td>
                                    <audio controls>
                                        <source src="Sam.mp3" type="audio/mpeg">
                                        Your browser does not support the audio tag.
                                    </audio> 
                                </td>
                            </tr>                            
                            <tr>
                                <td>Shaz</td>
                                <td>
                                    <audio controls>
                                        <source src="Shaz_mastered.mp3" type="audio/mpeg">
                                        Your browser does not support the audio tag.
                                    </audio> 
                                </td>
                            </tr>
                            <tr>
                                <td>Theron</td>
                                <td>
                                    <audio controls>
                                        <source src="Theron_mastered.mp3" type="audio/mpeg">
                                        Your browser does not support the audio tag.
                                    </audio> 
                                </td>
                            </tr>



                        </tbody>
                    </table>




                </div>

                <div class="resourcesitemsright">
                    <p>As you can hear in our work examples, many of our animations and videos use voiceovers. If your project will include a voiceover, please choose from one of our voice talents listed here. Let your project manager know your choice so we can record your script and bring your video to life!</p>
                </div>
            </div>             
        </section>


        @@include('./footer.html')