@@include('./head.html')
<body class="services">
    @@include('./header.html')
    <main>
        <section class="mainpage">
            <div class="wrap">
                <h1>Our service offerings <span class="yellowdot"></span></h1>                     
                <img style="padding: 80px 20px" src="css/servises_chart.png" alt="" />
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidun t ut labore et dolore magnam aliquam quaerat voluptatem.</p>
            </div>             
        </section>
        <section class="learning">
            <div class="wrap">
                <div class="servisesitems">
                    <h2>Learning</h2>
                    <div class="paddedleft">
                        <p><b>eLearning</b></p>
                        <p>We produce highly-engaging online learning courses, containing a variety of animations, knowledge checks and full-blown assessment sections. To align with cost and time constraints, we can create your eLearning to one of our standard templates, but we also offer bespoke eLearnings that can be customised to your every requirement.</p>
                        <p><b>VILTs</b></p>
                        <p>Our VILTs (Virtual Instructor-Led Training) are eLearnings in which learners are guided through the session by a real person, in real time. As well as creating the course itself, we will write Facilitator Guides for the instructor to refer to throughout the session.</p>
                        <p><b>Classroom learning</b></p>
                        <p>We may be a Design Lab, but we haven't forgotten about traditional classroom learning. Our team will write and design print handouts, large-scale visual aids and digital resentations to suit the needs of both learner and facilitator.</p>
                    </div>
                </div>
                <div class="servisesitems">
                    <img src="css/_temp_laptomimg.png" alt="" />
                </div>
            </div>                     
        </section>
        <section class="avProduction">
            <div class="wrap">
                <div class="servisesitems">
                    <h2>Audio Visual Production</h2>
                    <img src="css/_temp_tabletimg.png" alt="" />
                </div>

                <div class="servisesitems">
                    <p><b>Animations & Videobytes</b></p>
                    <p>With a motley crew of animators, illustrators, digital artists and graphic designers to rival Pixar, our design team can create anything from simple animated logos to complex motion graphics and narrated, animated videos. We’ve also been known to spice up our output with some flashes of CGI and special effects. Both our animations and videobytes come in standard and advanced, according to the level of content you require.</p>
                    <p><b>Filming and Voiceover</b></p>
                    <p>Whether it’s a quick sketch, interview, voiceover or fully-narrated, informational ‘video byte’, our video production specialist is on hand to make movie magic. Our studio boasts state-of-the-art cameras, lighting and audio recording equipment – including a separate recording booth. We’ve even got a clapper board.</p>
                </div>
            </div>             
        </section>

        <section class="development">
            <div class="wrap">
                <div class="servisesitems">
                    <h2>Development and testing</h2>
                    <div class="paddedleft">
                        <p><b>Development</b></p>
                        <p>Our Development team is Design Lab’s last stop before bringing out eLearnings to fruition. But using their industry-leading knowledge and technological intuition, they also build web portals, SharePoint pages and fully-fledged, interactive websites to support your learning experience.</p>
                        <p><b>Testing</b></p>
                        <p>Every element of our digital platform products is rigorously tested by our Offshore QA team, ensuring both precision and quality for our clients.</p>
                    </div>
                </div>
                <div class="servisesitems">
                    <img src="css/_temp_laptomimg.png" alt="" />
                </div>

            </div>             
        </section>
        @@include('./footer.html')