@@include('./head.html')
<body class="product">
    @@include('./header.html')
    <main>
        <section class="productsAudiowrap">

            <div class="slideritem VILT_GAL_big">
                <div class="header"></div>
                <div class="wrap">
                    <div class="margintop">
                        <h1>VILT //<br /> <span class="smallfont">GAL Project Management</span></h1>
                        <div class="productlaptopone">
                            <div class="innerwindow">
                                <!--                                <video loop autoplay preload>
                                                                    <source src="GALprojectmanagement.mp4" type="video/mp4">
                                                                    fallback image 
                                                                </video>-->

                                <video poster="css/vilt1.jpg" controls="" preload="" onclick="this.play()"><source src="GALprojectmanagement.mp4" type="video/mp4">fallback image</video>
                            </div>
                        </div>
                        <div class="quickdetails">
                            <div class="item">
                                <div class="time-ico"></div>
                                <h2>Time</h2>
                                <p>60 days</p>
                            </div>
                            <div class="item">
                                <div class="cost-ico"></div>
                                <h2>Cost</h2>
                                <p>£15,000</p>
                            </div>
                            <div class="item">
                                <div class="resourses-ico"></div>
                                <h2>Resources</h2>
                                <ul>
                                    <li>Project Manager</li>
                                    <li>Instructional Designer</li>
                                    <li>Art Worker</li>
                                    <li>Microsoft PowerPoint</li>
                                    <li>Microsoft Word</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <div style="background: #F6E7E2" class="colorwrap">
                    <div class="wrap">
                        <div style="border-color: #ffffff transparent transparent transparent" class="colortringle"></div>
                        <h3>Project overview</h3>
                        <p>Virtually Instructor-Led Training modules, or VILTs, give our clients the opportunity to bring together a global audience in a single, fully interactive, online training environment. As part of the Global Assurance Learning Academy, Design Lab created four VILTs for each of the learning pathways we designed. Our flipped classroom approach meant that learners had already completed a number of learning elements for a particular topic before attending the VILT. In the online environment, we were therefore able to bring all the relevant content together in a meaningful way. Learners were also able to share their experiences and thoughts with their peers. </p>
                        <p>In this example, we see the Project Management VILT which used results from a decision-making game, that learners had already completed, as an initial discussion point, before exploring other key development topics.</p>
                    </div>
                </div>
                <div class="wrap">
                    <div class="quitewrap">
                        <div style="border-color: #F6E7E2 transparent transparent transparent" class="colortringle"></div>
                        <div class="quite">
                            <p>Working closely with Design Lab, we designed a brand new curriculum for Advanced Senior Auditors using a blend of various learning modules including Virtual Instructor-Led Training. It was a great example of team collaboration and pushing the boundaries of innovation that we wanted to introduce to the Global Assurance practice.</p>
                            <h3><span class="author">Mary Glowacka </span> - Senior, PAS</h3>
                        </div>
                    </div>
                </div>

            </div>



        </section>
        @@include('./catslider.html')
        @@include('./footer.html')
