@@include('./head.html')
<body class="product">
    @@include('./header.html')
    <main>
        <section class="productswrap">

            <div class="slideritem VILT_GAL_big">
                <div class="header"></div>
                <div class="wrap">
                    <div class="margintop">
                        <h1>VILT //<br /> <span class="smallfont">GAL Project Management</span></h1>
                        <div class="productlaptop">

                        </div>
                        <div class="producipad">

                        </div>
                        <div class="quickdetails">
                            <div class="item">
                                <div class="time-ico"></div>
                                <h2>Time</h2>
                                <p>Ipsum dolor sit amet, consectetur adipis icing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            </div>
                            <div class="item">
                                <div class="cost-ico"></div>
                                <h2>Cost</h2>
                                <p>Ipsum dolor sit amet, consectetur adipis icing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            </div>
                            <div class="item">
                                <div class="resourses-ico"></div>
                                <h2>Resources</h2>
                                <p>Ipsum dolor sit amet, consectetur adipis icing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            </div>
                        </div>
                        <div class="findoutmorewrap">
                            <div class="item">
                                <div class="findoutbut">FIND OUT MORE</div>
                            </div>
                            <div class="item">
                                <div class="viewcourse">VIEW COURSE</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="background: #F6E7E2" class="colorwrap">
                    <div class="wrap">
                        <div style="border-color: #ffffff transparent transparent transparent" class="colortringle"></div>
                        <h3>Project overview</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                            Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
                    </div>
                </div>
                <div class="wrap">
                    <div class="quitewrap">
                        <div style="border-color: #F6E7E2 transparent transparent transparent" class="colortringle"></div>
                        <div class="quite">
                            <p> We really enjoyed working with the team on what was a challenging project for all involved. Individually you showed a lot of flexibility and adaptability which was crucial to producing the video to a high standard.</p> 
                            <p>We also felt that the team added significant value by generating ideas, advising on the creative process and really getting stuck in at the joint working sessions we had. Quite a few senior Partners who have viewed the video have commented on how wonderful the graphics are and how smooth and professional the video is – a true testament to the quality of work that was completed by your team.</p>
                            <p>Perhaps most important of all was the personable manner in which you interacted with us. Even during challenging times, the politeness and friendliness in meetings made finding solutions much easier. You are very nice people to work with!</p>
                            <h3><span class="author">Zahra Sheikh</span> - Senior Manager</h3>
                        </div>
                    </div>
                </div>

            </div>
            
            

        </section>
        @@include('./catslider.html')
        @@include('./footer.html')
