@@include('./head.html')
<body class="product">
    @@include('./header.html')
    <main>
        <section class="productsAudiowrap">

            <div class="slideritem AdvisoryLearningJ">
                <div class="header"></div>
                <div class="wrap">
                    <div class="margintop">
                        <h1>Web Application // <br /> <span class="smallfont">Advisory Learning Portal</span></h1>
                        <div class="productlaptop">
                            <div class="innerwindow">
                                <!--                                <video autoplay preload loop>
                                                                    <source src="websitescreencapture.mp4" type="video/mp4">
                                                                    fallback image 
                                                                </video>-->
                                <video poster="css/web1.jpg" controls="" preload="" onclick="this.play()"><source src="websitescreencapture.mp4" type="video/mp4">fallback image</video>
                            </div>

                        </div>
                        <div class="producphone">
                            <div class="innerwindow alp-mobileversion">

                            </div>
                        </div>
                        <div class="quickdetails">
                            <div class="item">
                                <div class="time-ico"></div>
                                <h2>Time</h2>
                                <p>90 days</p>
                            </div>
                            <div class="item">
                                <div class="cost-ico"></div>
                                <h2>Cost</h2>
                                <p>£35,000</p>
                            </div>
                            <div class="item">
                                <div class="resourses-ico"></div>
                                <h2>Resources</h2>
                                <ul>
                                    <li>Project Manager</li>
                                    <li>Digital Designer </li>
                                    <li>Developer</li>
                                    <li>RESTful APIs</li>
                                    <li>SharePoint</li>                                
                                </ul>
                            </div>
                        </div>
                        <div class="findoutmorewrap">
                            <div class="findoutbut"><a target="_blank" href="https://alp.ey.net/">VIEW WEB APPLICATION</a></div>                           
                        </div>
                    </div>
                </div>
                <div style="background: #ddefe9" class="colorwrap">
                    <div class="wrap">
                        <div style="border-color: #ffffff transparent transparent transparent" class="colortringle"></div>
                        <h3>Project overview</h3>
                        <p>The Advisory Learning Portal is a SharePoint supported web application that allows the entire advisory population (50,000+ users) to access learning materials and choose an appropriate learning journey to support their career progression.  Learners are not only able to search for relevant courses but also apply personalised filters to quickly navigate to the courses that best suit their needs. Thanks to full integration with EY Leads they can access courses directly from their search – no need to launch the learning management system separately.</p>
                        <p>Using the latest front end development technologies and a creative interactive design, this web application goes further than a normal website with search functionality. It allows the learner to interact fully with the application to view their learning journey and achieve their required goals.</p>
                        <p>As well as providing our client with secure hosting within the EY network, we also developed the application for longevity – the simplicity of the design means that anyone can update and maintain the materials in the content management system with minimal training (for example, our client is currently using interns to update their site). Thanks to the insight of our developers, our client is now able to keep their product up-to-date and pertinent for their learners for many years to come. </p>
                    </div>
                </div>
                <div class="wrap">
                    <div class="quitewrap">
                        <div style="border-color: #ddefe9 transparent transparent transparent" class="colortringle"></div>
                        <div class="quite">
                            <p>My client really liked the Design Lab’s visual representation and site concept based on the brief – this and the production values, flexibility and response time definitely set us apart. They really liked how the site responded to learners’ searches and how intuitive the interface was. It’s a really creative way of presenting this kind of information – we definitely exceeded client expectations!</p>
                            <h3><span class="author">Richard Seaman</span> - Manager, PAS</h3>
                        </div>
                    </div>
                </div>
            </div>



            <div class="slideritem Apps_GoldDay">
                <div class="header"></div>
                <div class="wrap">
                    <div class="margintop">
                        <h1>Apps //<br /> <span class="smallfont">Getting Connected</span></h1>
                        <div class="producipad_big">
                            <div class="innerwindow">
                                <!--                                <video autoplay preload loop>
                                                                    <source src="app_web.mp4" type="video/mp4">
                                                                    fallback image 
                                                                </video>-->
                                <video poster="css/web2.jpg" controls="" preload="" onclick="this.play()"><source src="app_web.mp4" type="video/mp4">fallback image</video>
                            </div>
                        </div>
                        <div class="quickdetails">
                            <div class="item">
                                <div class="time-ico"></div>
                                <h2>Time</h2>
                                <p>30 days</p>
                            </div>
                            <div class="item">
                                <div class="cost-ico"></div>
                                <h2>Cost</h2>
                                <p>£2000 for app shell + £7000 per partner video</p>
                            </div>
                            <div class="item">
                                <div class="resourses-ico"></div>
                                <h2>Resources</h2>
                                <ul>
                                    <li>Team of Digital Designers</li>
                                    <li>Flash Developer</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <div style="background: #f0f0f0" class="colorwrap">
                    <div class="wrap">
                        <div style="border-color: #ffffff transparent transparent transparent" class="colortringle"></div>
                        <h3>Project overview</h3>
                        <p>This Flash based interactive app provided a platform for EMEIA FS Risk Leadership to connect with their teams through a more modern and easy-to-use platform. Using a ‘character line-up’ style home page, users can click on each leader to access bespoke videos. </p>
                        <p>The app allowed the leadership team to showcase their area of expertise within their sector in an accessible and interactive way – bringing the content to life and allowing their teams to connect with partners on a more personal level.</p>
                        <p>The app was used as part of a blended two hour face-to-face session which involved networking, interactive learning, video and discussion.</p>
                    </div>
                </div>
                <div class="wrap">
                    <div class="quitewrap">
                        <div style="border-color: #f0f0f0 transparent transparent transparent" class="colortringle"></div>
                        <div class="quite">
                            <p>The feedback we received from the Partners for this app was absolutely great. They were excitedly telling everyone how they had been filmed in front of a green screen and everything was really slick! The videos were very high quality and looked really professional. Amazing! </p>
                            <h3><span class="author">Zahra Sheikh </span> - Senior Manager, PAS</h3>
                        </div>
                    </div>
                </div>

            </div>


        </section>
        @@include('./catslider.html')
        @@include('./footer.html')
