@@include('./head.html')
<body class="product">
    @@include('./header.html')
    <main>
        <section class="productswrap">

            <div class="slideritem AdvisoryLearningJ">
                <div class="header"></div>
                <div class="wrap">
                    <div class="margintop">
                        <h1>Websites // <br /> <span class="smallfont">Advisory Learning Portal</span></h1>
                        <div class="productlaptop">

                        </div>
                        <div class="producipad">

                        </div>
                        <div class="quickdetails">
                            <div class="item">
                                <div class="time-ico"></div>
                                <h2>Time</h2>
                                <p>TBC</p>
                            </div>
                            <div class="item">
                                <div class="cost-ico"></div>
                                <h2>Cost</h2>
                                <p>TBC</p>
                            </div>
                            <div class="item">
                                <div class="resourses-ico"></div>
                                <h2>Resources</h2>
                                <p>TBC</p>
                            </div>
                        </div>
                        <div class="findoutmorewrap">
                            <div class="item">
                                <div class="findoutbut">FIND OUT MORE</div>
                            </div>
                            <div class="item">
                                <div class="viewcourse">VIEW COURSE</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="background: #ddefe9" class="colorwrap">
                    <div class="wrap">
                        <div style="border-color: #ffffff transparent transparent transparent" class="colortringle"></div>
                        <h3>Project overview</h3>
                        <p>TBC</p>
                    </div>
                </div>
                <div class="wrap">
                    <div class="quitewrap">
                        <div style="border-color: #ddefe9 transparent transparent transparent" class="colortringle"></div>
                        <div class="quite">
                            <p> TBC</p>
                            <h3><span class="author">Zahra Sheikh</span> - Senior Manager</h3>
                        </div>
                    </div>
                </div>

            </div>



            <div class="slideritem Apps_GoldDay">
                <div class="header"></div>
                <div class="wrap">
                    <div class="margintop">
                        <h1>App //<br /> <span class="smallfont">Learning and digital engagement</span></h1>
                        <div class="producipad_big">
                            <div class="innerwindow">
                                <video autoplay preload loop>
                                    <source src="app_web.mp4" type="video/mp4">
                                    fallback image 
                                </video>
                            </div>
                        </div>
                        <div class="quickdetails">
                            <div class="item">
                                <div class="time-ico"></div>
                                <h2>Time</h2>
                                <p>TBC</p>
                            </div>
                            <div class="item">
                                <div class="cost-ico"></div>
                                <h2>Cost</h2>
                                <p>TBC</p>
                            </div>
                            <div class="item">
                                <div class="resourses-ico"></div>
                                <h2>Resources</h2>
                                <p>TBC</p>
                            </div>
                        </div>
                        <div class="findoutmorewrap">
                            <div class="item">
                                <div class="findoutbut">FIND OUT MORE</div>
                            </div>
                            <div class="item">
                                <div class="viewcourse">VIEW COURSE</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="background: #f0f0f0" class="colorwrap">
                    <div class="wrap">
                        <div style="border-color: #ffffff transparent transparent transparent" class="colortringle"></div>
                        <h3>Project overview</h3>
                        <p>TBC</p>
                    </div>
                </div>
                <div class="wrap">
                    <div class="quitewrap">
                        <div style="border-color: #f0f0f0 transparent transparent transparent" class="colortringle"></div>
                        <div class="quite">
                            <p>TBC</p>
                            <h3><span class="author">Zahra Sheikh</span> - Senior Manager</h3>
                        </div>
                    </div>
                </div>

            </div>


        </section>
        @@include('./catslider.html')
        @@include('./footer.html')
