@import 'normalize';
@import '_includes/_vars';
@import '_includes/_mixins';
@import '_includes/_base';
@import '_includes/_elements';

header {
    color: $white;
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 100;
    nav{
        float: right;
        text-align: center;
        margin: 39px 140px;
        ul{
            margin: 0;
            padding: 0;
            li{
                margin: 0;
                padding: 0;
                float: left;
            }        
        }
    }
    .whiteheader{
        height: 120px;
        background: $white;
        position: absolute;
        width: 100%;

        transform: translate(0, -120px);       
        transition: .25s ease-in-out;
        &.open{
            transform: translate(0, 0);  
        }
    }
}

footer {
    background-color: $white;
    .ey_grey_logo{
        @include bgImage('ey_grey_logo.png');
        width: 153px;
        height: 39px;
        float: left;
    }
    .yammer_ico{
        @include bgImage('yammer_ico.png');
        width: 34px;
        height: 34px;
        display: inline-block;
    }
    .wrap{
        @include clearfix;
        padding: 20px;
    }
    .yammerwrap{
        float: right;
        text-align: right;
    }
    .footertext{

    }
}

.whatwedo{
    @include clearfix;
    @include bgImage('mainimage_grey.jpg', top center)
    color: $white;
    background-attachment: fixed;
    padding-top: 100px;
    h1{        
        @extend %h1withline;
    }
    h2{
        @extend %h2withunderline;
    }
    p{
        color: $white;
        text-align: center;
    }
}
.services {
    .mainpage{
        @include bgImage('mainimage_lightgrey.jpg', top center)
        padding: 0;
        h1{
            @extend %h1withline;
            color: $darkgrey;
        }
        p{
            color: $darkgrey;
        }
        .wrap{
            padding-top: 150px;
        }
    }
    h2{
        @extend %h1withline;
        margin-bottom: 40px;
        &:after{       
            width: 5px;
        }

    }
    .learning{
        @include bgImage('brain_bg.png', center -70px);
        background-color: $lightgraybg;
        background-attachment: fixed;
    }
    .avProduction{
        @include bgImage('AV_bg.png', center -70px);
        background-attachment: fixed;
    }
    .development{
        @include bgImage('link_bg.png', center 0px);
        background-color: $lightgraybg;
        background-attachment: fixed;
    }
    .servisesitems{
        @include grid(2, 5%)
        float: left;  
    }
}
.about{
    .mainpage{      
        @include bgImage('mainimage_lightgrey.jpg', top center)
        .wrap{
            padding-top: 150px;         
        }
        h1{
            @extend %h1withline;
        }
        h2{
            @extend %h2withunderline;
        }
        p{
            text-align: center
        }
    }
}
.grid{
    @include clearfix;
    .item{
        @include grid(1, 5%)
        text-align: center;
        float: left;        
        @include break(1000px){
            @include grid(3, 10%)
        }
    }
}
.gear{
    @include bgImage('gear.png')
    width: 93px;
    height: 93px;
    display: inline-block;
}
.brain{
    @extend .gear;
    @include bgImage('brain.png')
}
.brain{
    @extend .gear;
    @include bgImage('brain.png')
}
.camera{
    @extend .gear;
    @include bgImage('camera.png')
}

.logo{
    @include bgImage('logo_grey.png')
    width: 238px;
    height: 54px;
    float: left;
    margin: 33px;
}
.homepage{
    /*    @include bgImage('mainimage.jpg', top center)*/
    min-height: 100%;
    padding: 0;
}
.whitelogo{
    @extend %centerpos;
    @include bgImage('logo_white.png')
    width: 322px;
    height: 103px;

}
.white_down_arrow{
    @extend %centerpos;
    @include bgImage('white_down_arrow.png')
    width: 67px;
    height: 67px;
    top: auto;
    bottom: 30px;
    cursor: pointer;
}

.lightgreywrap{
    background: $lightgrey;
    p{
        padding: 50px;
        margin: 0 auto;
        width: 200px;
    }
}
.playicon{
    @include bgImage('playicon.png')
    width: 143px;
    height: 143px;
    margin: 100px auto;
}


@include bp-mobile {
    header h1 {
        font-size: 2.55em;
    }
    .code-block code {
        display: block;
    }
}
