@import 'normalize';
@import '_includes/_vars';
@import '_includes/_mixins';
@import '_includes/_base';


header {
    color: $white;
    position: fixed;
    width: 100%;
    text-align: center;
    nav{
        float: right;
        text-align: center;
        margin: 39px 140px;
        ul{
            margin: 0;
            padding: 0;
            li{
                margin: 0;
                padding: 0;
                float: left;
            }        
        }
    }
    .whiteheader{
        height: 120px;
        background: $white;
        position: absolute;
        width: 100%;

        transform: translate(0, -120px);       
        transition: .25s ease-in-out;
        &.open{
            transform: translate(0, 0);  
        }
    }
}

#nav-icon {
    width: 60px;
    height: 45px;
    position: relative;
    margin: 37px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    float: right;
    span{
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: $white;
        border-radius: 9px;
        opacity: 1;
        left: 0;       
        transform: rotate(0deg);       
        transition: .25s ease-in-out; 
    }
    span:nth-child(1) {
        top: 0px;
    }
    span:nth-child(2){
        top: 16px;
    }
    span:nth-child(3) {
        top: 16px;
    }
    span:nth-child(4) {
        top: 32px;
    }
    &.open span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
        background: $grey;
    }
    &.open span:nth-child(2) {   
        transform: rotate(45deg);
        background: $grey;
    }
    &.open span:nth-child(3) {   
        transform: rotate(-45deg);
        background: $grey;
    }
    &.open span:nth-child(4) {
        background: $grey;
        top: 18px;
        width: 0%;
        left: 50%;
    }
}
.logo{
    @include bgImage('logo_grey.png')
    width: 238px;
    height: 54px;
    float: left;
    margin: 33px;
}
.homepage{
    @include bgImage('mainimage.jpg', top center)
    min-height: 100%;
}
.whitelogo{
    @include bgImage('logo_white.png')
    width: 238px;
    height: 54px;
}
.white_down_arrow{
    @include bgImage('white_down_arrow.png')
    width: 238px;
    height: 54px;
}
.btn {
    border-radius: .3em;
    border-style: solid;
    border-width: 1px;
    color: $grey;
    border-color: $grey;
    display: inline-block;
    margin-bottom: .5em;
    padding: .35em .75em;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: color .3s, background-color .3s, border .3s;
    transition: color .3s, background-color .3s, border .3s;
    font-size: .85em;
    margin: .25em;

    &:hover {
        background-color: $grey;
        color: $white;
    }
}

.btn-background {
    margin: 10px 0;
    background-color: $pink;
    color: $white;
    padding: .5em;
    border-radius: .3em;
    border-color: $pink;
    &:hover {
        background-color: #f66e88;
        color: $white;
        border-color: #f66e88;
    }
}


@include bp-mobile {
    header h1 {
        font-size: 2.55em;
    }
    .code-block code {
        display: block;
    }
}

@media(max-width:843px) {
    .btn-download {
        margin-bottom: 1.5em;
    }
}


