<section class="productcategories">
    <div class="element-item">
        <img src="css/1_Elearning_Rapid_DesignLab-overview.jpg" alt="" />
        <div class="description">
            <div class="itemcenterwrap">
                <h2>eLearning</h2>                        
                <a href="../elearning.html">VIEW</a>
            </div>
        </div>
    </div>
    <div class="element-item">
        <img src="css/5_FS-Risk-Learning-Week.jpg" alt="" />
        <div class="description">
            <div class="itemcenterwrap">
                <h2>Filming</h2>                        
                <a href="../filming.html">VIEW</a>
            </div>
        </div>
    </div>
    <div class="element-item">
        <img src="css/11_Videobyte_infographic.jpg" alt="" />
        <div class="description">
            <div class="itemcenterwrap">
                <h2>Animation</h2>                        
                <a href="../animation.html">VIEW</a>
            </div>
        </div>
    </div>
    <div class="element-item">
        <img src="css/15_VILT_GAL.jpg" alt="" />
        <div class="description">
            <div class="itemcenterwrap">
                <h2>VILT</h2>                        
                <a href="../vilt.html">VIEW</a>
            </div>
        </div>
    </div>
    <div class="element-item">
        <img src="css/17_GAL_Game.jpg" alt="" />
        <div class="description">
            <div class="itemcenterwrap">
                <h2>Gamification</h2>                        
                <a href="../gamification.html">VIEW</a>
            </div>
        </div>
    </div>
    <div class="element-item">
        <img src="css/19_Learning-Journeys.jpg" alt="" />
        <div class="description">
            <div class="itemcenterwrap">
                <h2>Web development</h2>                        
                <a href="../web_development.html">VIEW</a>
            </div>
        </div>
    </div>
    <div class="element-item">
        <img src="css/23_Academy_GAL.jpg" alt="" />
        <div class="description">
            <div class="itemcenterwrap">
                <h2>Academy</h2>                        
                <a href="../academy.html">VIEW</a>
            </div>
        </div>
    </div>
</section>