<footer>
    <div class="lightgreywrap">
        <p>13th Floor, 25 Churchill Place, London, E14 5EY, United Kingdom</p>
    </div>
    <div class="wrapp">
        <div class="item"><div class="ey_grey_logo"></div></div>
        <div class="item">
            <a class="pad" href="mailto:designlab@uk.ey.com">designlab@uk.ey.com</a> 
            <a target="_blank" href="https://www.yammer.com/ey.com/#/threads/inGroup?type=in_group&feedId=10183505&view=all"><div class="yammer_ico"></div></a>  
        </div>
        <div class="item"><div class="footertext">Site and content © DesignLab EY</div></div>



    </div>
</footer>
</main>

</body>
<script src="js/script.js" type="text/javascript"></script>

</html>