<header>
    <div class="whiteheader">
        <div class="logo"></div>
        <nav>
            <ul>
                <li><a class="btn" href="../index.html">HOME <span class="smallyellowdot"></a> </li>
                <li><a class="btn" href="../our_work.html">OUR WORK <span class="smallyellowdot"></a> </li>
                <li><a class="btn" href="../about.html">ABOUT <span class="smallyellowdot"></a> </li>
                <li><a class="btn" href="../services.html">SERVICES <span class="smallyellowdot"></a> </li>
                <li><a class="btn" href="../resources.html">Resources <span class="smallyellowdot"></a> </li>
                <li><a class="btn" href="../contact.html">CONTACT <span class="smallyellowdot"></a> </li>
            </ul>
        </nav>
    </div>
    <div id="nav-icon">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</header>