<!doctype html>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />

<!DOCTYPE html>
<html>
    <head>
        <title>Design Lab</title>
        <meta charset="utf-8">
        <meta name="description" content="Design Lab">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <base href="./assets/">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
        <link href="css/style.css" rel="stylesheet" type="text/css">
    </head>